{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}模块部署{% endblock %}
{% block custom_css %}
	<style type="text/css">
        .he10{
			height: 10px;
		}
        .he20{
			height: 20px;
		}

		/*表单滚动*/
        .overflow_set{
        	overflow: auto;
        }

		/*pre标签不会自动换行第二个是换行，第一个是滚动条*/
		#state_exe_result{
        	overflow-y: auto;
			white-space: pre-wrap;
        }
    </style>

{% endblock %}

{% block custom_js %}
	<script>
		$(function () {

		    // 响应式调整页面高度
    		$(window).resize(function() {
    		    // 结果打印框pre高度不然默认是没高度的
	        	$('.overflow_result').css(
	        		"height",$('.hall').height()*0.8);

                // 扫描的输入表单单独适应窗口高度，不然如果以后我添加更多的扫描东西越来越长的时候会出现
                // 整个右侧栏出现滚动条，我这样设置以后只会扫描表单那一块出现滚动，而不会然右边的结果框出现滚动条
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.85);
            });
    		$(window).resize();


//            minion_id搜索框回车触发查询按钮事件
            $("#search_minion_id").keydown(function (e) {
                if (e.keyCode == 13) {
                    $('.search_minion_id_btn').click();
                }
            });

    		// // {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });


	    	//页面输入框改变清空错误提示信息
			$('#tgt_grain').keyup(function(){
	    		$('#tgt_grain_help').text('　');
	    	});
			$('#tgt_grain_pcre').keyup(function(){
	    		$('#tgt_grain_pcre_help').text('　');
	    	});
			$('#tgt_ip_address').keyup(function(){
	    		$('#tgt_ip_address_help').text('　');
	    	});
	    	$('#tgt_pcre').keyup(function(){
	    		$('#tgt_pcre_help').text('　');
	    	});
	    	
	    	$("input[type='checkbox']").focus(function(){
	    		$('#select_arg_help').text('　');
	    	});



			// 执行对象选择触发输入框的隐藏显示
			$('input[name="select_tgt"]').click(function () {
               if($.trim($(this).val())=="any"){
                   $('.select_tgt_list').addClass('hidden');
               }else if($.trim($(this).val())=="custom_group"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_custom_group_class').removeClass('hidden');
                   $('#tgt_custom_group').focus();
               }
               else if($.trim($(this).val())=="minion_list"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_minion_list_class').removeClass('hidden');
                   $('#search_minion_id').focus();
               }
               else if($.trim($(this).val())=="pcre"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_pcre_class').removeClass('hidden');
                   $('#tgt_pcre').focus();
               }
               else if($.trim($(this).val())=="grain"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_grain_class').removeClass('hidden');
                   $('#tgt_grain').focus();
               }
               else if($.trim($(this).val())=="grain_pcre"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_grain_pcre_class').removeClass('hidden');
                   $('#tgt_grain_pcre').focus();
               }
               else if($.trim($(this).val())=="ip_address"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_ip_address_class').removeClass('hidden');
                   $('#tgt_ip_address').focus();
               }

            });

//          查找minion_id 后期要准备些一个公共的view方法存这个经常用到查询minion的调用，不然每次都要在views.py写一遍
            $('.search_minion_id_btn').click(function(){
                 $('#search_select_minion_id').empty();
                 var minion_id=$.trim($('#search_minion_id').val());
                 var selected_minion_id=$('#search_selected_minion_id option');

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'minion_id':minion_id,
                        'salt_exe_tag_key':'modal_search_minion_id'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#search_select_minion_id");
                                selected_minion_id.each(function () {
                                    if($(this).val()==content){
                                        $("#search_select_minion_id option[value='" +content+ "']").remove();
                                    }
                                });
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});

//          minion_id选中 操作触发中间的》按钮可用
            $("#search_select_minion_id").click(function () {
                var minion_id_list=$('#search_select_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0){
                    $("#search_select_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id选中 操作触发中间的《按钮可用
            $("#search_selected_minion_id").click(function () {
                var minion_id_list=$('#search_selected_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0) {
                    $("#add_delete_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id》按钮触发选中值移动到右边
            $("#search_select_minion_id_btn").click(function () {
//                在这里触发清空如果没选择minion_id的错误提示,嘿嘿
                $('#minion_list_help').text('　');
                $("#search_select_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#search_selected_minion_id");
                    $(this).remove();
                    $("#search_select_minion_id_btn").attr("disabled",true);
                })
            });

//          minion_id《按钮触发选中值移动到左边
            $("#add_delete_minion_id_btn").click(function () {
                $("#search_selected_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#search_select_minion_id");
                    $(this).remove();
                    $("#add_delete_minion_id_btn").attr("disabled",true);
                })
            });




			// 执行部署按钮事件
            $('#state_exe_sumbit').click(function () {
                var other_arg = $.trim($('#other_arg_data').val()).split(',,');
                var select_tgt = $("input[name='select_tgt']:checked").val();
                var tgt_type = 'glob';
                var tgt = '';
                var arg = [];
                var extra_arg = $('#extra_arg_data').val();
				arg.push($("input[name='select_state']:checked").val());
                if(select_tgt == 'any'){
                    tgt = '*';
                    tgt_type = 'glob';
                }else if(select_tgt == 'minion_list'){
                    tgt = $('#search_selected_minion_id option').map(function(){return $(this).val();}).get().join(",");
                    if(tgt.length == 0){
                        $('#minion_list_help').text('请选择minion_id');
                        return false
                    }
                    tgt_type = 'list';
                }else if(select_tgt == 'grain'){
                    tgt = $.trim($('#tgt_grain').val());
                    if(tgt.length == 0){
                        $('#tgt_grain_help').text('请输入grain条件');
                        $('#tgt_grain').focus();
                        return false
                    }
                    tgt_type = 'grain';
                }
                else if(select_tgt == 'grain_pcre'){
                    tgt = $.trim($('#tgt_grain_pcre').val());
                    if(tgt.length == 0){
                        $('#tgt_grain_pcre_help').text('请输入grain正则条件');
                        $('#tgt_grain_pcre').focus();
                        return false
                    }
                    tgt_type = 'grain_pcre';
                }
                else if(select_tgt == 'ip_address'){
                    tgt = $.trim($('#tgt_ip_address').val());
                    if(tgt.length == 0){
                        $('#tgt_ip_address_help').text('请输入IP或IP段');
                        $('#tgt_ip_address').focus();
                        return false
                    }
                    tgt_type = 'ipcidr';
                }
                else if(select_tgt == 'pcre'){
                    tgt = $.trim($('#tgt_pcre').val());
                    if(tgt.length == 0){
                        $('#tgt_pcre_help').text('请输入minion id正则');
                        $('#tgt_pcre').focus();
                        return false
                    }
                    tgt_type = 'pcre';
                }

                //判断是否有附加参数
                if($.trim(extra_arg).length != 0){
                    arg = arg.concat($.trim(extra_arg).split(',,'))
                }
                var $btn = $(this).button('loading');
                $("#state_exe_result").text("正在执行.....");
                $.ajax({
					url:"{% url 'module_deploy' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'tgt':tgt,
                        'tgt_type':tgt_type,
                        'other_arg':other_arg,
                        'arg':arg,
                        'module_deploy_tag_key':'state_exe'
					},
					success:function(result){
						if(result.status){
							$('#state_exe_result').html('');
							for(var i = 0; i < result.result.length; i++){
//                                console.log(result.result[i]);
								if(result.result[i].indexOf("Result: False")>-1){
									$('#state_exe_result').append("<p style='color: #A00000;'>"+result.result[i]+"</p>");
								}else if(result.result[i].indexOf("ChangesIs")>-1){
									$('#state_exe_result').append("<p style='color: #00A0A0;'>"+result.result[i]+"</p>");
								}else if(result.result[i].indexOf("Failed:")>-1){
//									对汇总的第一行数据中成功失败还有改变做字体颜色区分，即修改颜色
									var reg1=/Failed:([^\r\n]+)/g;
									var str1=result.result[i].match(reg1);
									var reg2=/Succeeded:([^\r\n]+)/g;
									var str2=result.result[i].match(reg2);
									var rep_r=result.result[i].replace(reg1,"<span style='color: #A00000;'>"+str1+"</span>");
									rep_r=rep_r.replace(reg2,"<span style='color: #00B600;'>"+str2+"</span>");
									$('#state_exe_result').append("<p style='color: #00A0A0;'>"+rep_r+"</p>");
								}else{
									$('#state_exe_result').append("<p style='color: #00B600;'>"+result.result[i]+"</p>");
								}

							}
                            $btn.button('reset');
						}else {
						    $("#state_exe_result").empty();
                            var data_count = 0;
                            if(typeof(result.result) == 'string'){
                                $('#state_exe_result').html("<p style='color: #BF0000;'>"+result.result+"</p>");
                                $btn.button('reset');
                            }
                            else{
                                $.each(result.result,function (k,v) {
                                if($.isPlainObject(v)){
                                    $('#state_exe_result').append("<p style='color: #BF0000;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#state_exe_result').append('\n\n');
                                }else if($.isArray(v)){
                                    $('#state_exe_result').append("<p style='color: #BF0000;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#state_exe_result').append('\n\n');
                                }else{
                                    $('#state_exe_result').append("<p style='color: #BF0000;font-weight: bold;'>"+k+":</p>");
                                    $('#state_exe_result').append("<p style='padding-left: 25px;'>"+v+"</p>");
                                    $('#state_exe_result').append('\n\n');
                                }
                                });
                                $btn.button('reset');
                            }

                            // $('#state_exe_result').html("<p style='color: #A00000;'>"+result.result+"</p>");
                            // $btn.button('reset');
                        }

					}
				});
            });

            // 结果输出格式化 递归函数
            var result_fun = function (data,data_count) {
                if(!data) return;
                $.each(data,function(k,v){
                    if($.isPlainObject(v)){
                        $('#state_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        result_fun(v,data_count+1)
                    }else if($.isArray(v)){
                        $('#state_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        result_fun(v,data_count+1)
                    }else{
                        $('#state_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        $('#state_exe_result').append("<p style='padding-left: "+(data_count+1)*25+"px;'>"+v+"</p>");
                    }
                });
            };
		});
	</script>
{% endblock %}

{% block panel-title_content %}模块部署{% endblock %}

{% block panel_body_content %}

<div class="row-fluid ">
	<div class="col-xs-6 overflow_set">
		<div class="he10"></div>
		<form class="form-horizontal" role="form" >
            <div  style="font-size: 15px;border: 1px #756F71 solid;border-radius: 5px;padding:0 10px 0 0;" >
                <label class="label label-info " style="font-size: 17px;">模块部署操作</label>
                <div class="he20"></div>
                <div class="form-group tgt_div" style="font-size: 15px;border: 1px #CCCCCC solid;border-radius: 5px;margin-left: 10px;margin-right: 10px;" >
				<label class="label label-info " style="font-size: 17px;">执行对象选择</label>
				<div class="he10"></div>
				<div class="container-fluid" style="font-size: 14px;">
					<div class="row-fluid">
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="any" checked>所有
							</label>
						 </div>
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="minion_list">Minion_ID
							</label>
						 </div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="pcre">Minion正则
							</label>
						</div>
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="custom_group">自定义组
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="grain">Grain
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="grain_pcre">Grain正则
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="ip_address">IP
							</label>
						</div>

					</div>
				</div>
				<div class="he10"></div>
                <div class="select_tgt_list select_tgt_minion_list_class hidden">
                    <label class="control-label col-sm-2 " >Minion_ID:</label>
                    <div class="panel panel-default col-sm-4" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="search_minion_id" placeholder="查询Minion_ID">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary search_minion_id_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                </span>

                            </div>
                        </div>
                        <select size=5  multiple class="form-control panel-body" id="search_select_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">
                        </select>
                    </div>

                    <div class="col-sm-1" style="padding: 0 10px 0 10px;">
                        <div style="margin-top: 30px;">
                            <button type="button" class="btn btn-xs btn-info " id="search_select_minion_id_btn" disabled="true">&gt;&gt;</button>
                            <button type="button" class="btn btn-xs btn-info " style="margin-top: 1px;" id="add_delete_minion_id_btn" disabled="true">&lt;&lt;</button>
                        </div>
                    </div>

                    <div class="panel panel-info col-sm-4" style="padding: 0;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <h3 class="panel-title " style="font-size: 12px;padding: 5px 10px;height: 30px;line-height: 1.5;">选中的Minion_ID 可多选</h3>
                        </div>
                        <select size=5 multiple class="form-control panel-body" id="search_selected_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                        </select>
                    </div>

                    <label class="control-label  " style="color: #FF0000;" >*</label>

                    <div class="col-sm-6 col-sm-offset-3">
                        <span id="minion_list_help" style="color: #FF0000;">　</span>
                </div>
                </div>
                <div class="select_tgt_list tgt_pcre_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_pcre">M正则:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_pcre"
                        style="font-size: 14px;"  required="required" placeholder="正则匹配minion id">
                        <span class="" id="tgt_pcre_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list select_tgt_custom_group_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_custom_group">Custom_group:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_custom_group"
                        style="font-size: 14px;"  required="required" value="自定义组功能开发中。。尽请等待">
                        <span class="" id="tgt_custom_group_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_grain_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_grain">Grain:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_grain"
                        style="font-size: 14px;"  required="required" >
                        <span class="" id="tgt_grain_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_grain_pcre_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_grain_pcre">Grain正则:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_grain_pcre"
                        style="font-size: 14px;"  required="required" >
                        <span class="" id="tgt_grain_pcre_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_ip_address_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_ip_address">IP:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_ip_address"
                        style="font-size: 14px;"  required="required" placeholder="ip/ip段，例：192.168.1.1 or 192.168.1.0/24">
                        <span class="" id="tgt_ip_address_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>

			</div>
                
			<div class="he20"></div>
                
			<div class="form-group" style="font-size: 14px;border: 1px #CCCCCC solid;border-radius: 5px;margin-left: 10px;margin-right: 10px;" >
				<label class="label label-info " style="font-size: 17px;">模块选择</label>
				<div class="he10"></div>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="col-xs-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="init" checked>初始化
							</label>
						 </div>
						<div class="col-xs-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="nginx">Nginx
							</label>
						 </div>
						<div class="col-xs-6 col-sm-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="tomcat">Tomcat
							</label>
						</div>
						<div class="col-xs-6 col-sm-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="mysql_5_7_19">Mysql5.7.19
							</label>
						</div>
						<div class="col-xs-6 col-sm-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="lvs">Lvs
							</label>
						</div>
						<div class="col-xs-6 col-sm-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="php">PHP
							</label>
						</div>
						<div class="col-xs-6 col-sm-3">
							<label class="radio-inline" >
								<input type="radio" name="select_state"  value="jdk">JDK
							</label>
						</div>
						<span id="select_arg_help"  style="color: #FF0000;">　</span>
					</div>
				</div>
				<div class="he10"></div>
			</div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="extra_arg_data">附加参数:</label>
                <div class="col-sm-7">
                    <input type="text"  class="form-control" id="extra_arg_data" >
                    <span class="" id="extra_arg_data_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;font-size: 13px;" >提示：模块之外的参数</label>
            </div>

            <div class="form-group  " style="font-size: 14px;border: 1px #CCCCCC solid;border-radius: 5px;padding: 0;margin: 0 15px 0 15px;">
				<!--<div class="container-fluid" style="font-size: 14px;">-->
                <pre  style="border: 0;">帮助1：附加参数如果有多个参数，则以英文连续双逗号“,,”隔开，主要是为了后台能正确处理，其写法与CLI下有所不同；
      例： salt '*' state.sls myslsfile pillar="{foo: 'Foo!', bar: 'Bar!'}" saltenv=base
      而在这里则需要写成：
      pillar={foo: 'Foo!', bar: 'Bar!'},,saltenv=base  # 注意参数字典外的引号不需要了
                </pre>
            </div>

			<div class="he20"></div>
			<div class="form-group " style="margin-left: 10px;">
				<button type="button" class="btn btn-success" id="state_exe_sumbit" data-loading-text="正在执行...">执行部署</button>
				<!-- <label class="text-danger ">提交数据验证合法性提示栏</label> -->
			</div>
                <div class="he20"></div>
            </div>
            <div class="he20"></div>

            <!--查看部署日志  -->
            <!--<div  style="font-size: 15px;border: 1px #756F71 solid;border-radius: 5px;padding:0 10px 0 0;" >-->
                    <!--<label class="label label-info " style="font-size: 17px;">模块部署日志查询</label>-->

                    <!--<div class="he10"></div>-->
                    <!--<label class="form-group" for="minion_id" style="margin-left: 10px;">请输入主机ID:</label>-->
                    <!--<input type="text" class="form-control" id="minion_id"-->
                   <!--placeholder="请输入主机minion ID" style="font-size: 14px;width: 200px;"  required="required">-->
                    <!--<button type="button" class="btn btn-success  search_log" data-toggle="modal" data-target="#search_minion_id_log" style="margin-left: 10px;">查询</button>-->

                   <!--<div class="he10"></div>-->
                <!--</div>-->
		</form>
	</div>
	<div class="form-group col-xs-6 overflow_result" style="padding-top: 5px;">
		<label class="label label-danger " style="font-size: 17px;">结果打印</label>
		<!-- 结果打印 -->
		<!-- 下面这个列数cols弄100%比较大，高度我用h45来按浏览器调整，style是禁止拉伸 -->
		<!--注意如果使用标签textarea的字体一定要设置等宽字体，因为普通的字体在输出的时候无法和在linux下面一样，想要输出程序代码的
		原样，最好用等宽字体，不用你自己看下有多难看就知道这里用了font-family: monospace;自带的等宽字体-->
		<!--最后我发现可以直接用prc标签这个标签可以完美的输出后端代码的格式哈哈不过换行和滚动条还是要加在上面的style里-->
		<pre class="form-control " id="state_exe_result"   style="resize:none;font-weight: bold;line-height:100%;height: 100%;margin-top: 4px;background-color:#000;color:#00B600;"></pre>
	</div>
</div>

{% endblock %}

{% block another_content %}
<!--日志模态框-->
<div class="modal fade juzhong" id="search_minion_id_log" tabindex="-1" role="dialog" aria-labelledby="minion_id_log_lable" aria-hidden="true" >
	<div class="modal-dialog" style="width: 780px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="minion_id_log_lable">
					<span class="minion_id_log"></span>模块部署日志<button type="button" class="btn btn-primary minion_id_log_btn pull-right" style="margin-right: 10px;">
					刷新日志
				    </button>
				</h4>
                <div style="margin-bottom: 5px;">

                    <ul class="pager log_pager" style="margin: 0;">

                    </ul>
                </div>
                <!--<span class="" id="" style="color: #FF0000;">　</span>-->
                <div class="col-sm-1  log_create_time_label" style="padding: 0;font-weight: bold;">部署时间:</div>
                <div class="col-sm-3 log_create_time" ></div>
                <div class="col-sm-1  log_release_result_label" style="padding: 0;font-weight: bold;">发布结果:</div>
                <div class="col-sm-3 log_release_result" ></div>
                <div class="col-sm-1  log_app_username_label" style="padding: 0;font-weight: bold;">操作人:</div>
                <div class="col-sm-3 log_app_username" ></div>

			</div>
			<div class="modal-body">
                <div class="form-group" style="height:630px;">
                    <pre class="form-control " id="modal_minion_id_log"   style="resize:none;font-weight: bold;line-height:100%;height: 100%;margin-top: 4px;background-color:#000;color:#00B600;"></pre>
                </div>

			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
					确认
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{% endblock %}