{% extends 'saltstack/saltkey_base.html' %}
{% block custom_js %}
<script>
    	$(function() {
//    	    复选框选中操作
                /*“全选/反选”复选框*/
                $('#checkAll').click(function(event){
                    /*将所有行的选中状态设成全选框的选中状态*/
                    $('input[name="checkItem"]').prop('checked',$(this).prop('checked'));
                    /*并调整所有选中行的CSS样式*/
                    if ($(this).prop('checked')) {
                        $('input[name="checkItem"]').parent().parent().addClass('warning');
                    } else{
                        $('input[name="checkItem"]').parent().parent().removeClass('warning');
                    }
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击全选框所在单元格时也触发全选框的点击操作*/
                var $checkAllTh = $('#checkAll').parent();
                $checkAllTh.click(function(){
                    $('#checkAll').click();
                });

                /*点击每一行的选中复选框时*/
                var $tbr = $('table tbody tr');
                $('input[name="checkItem"]').click(function(event){
                    /*调整选中行的CSS样式*/
                    $(this).parent().parent().toggleClass('warning');
                    /*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
                    $('#checkAll').prop('checked',$('input[name="checkItem"]:checked').length == $tbr.length ? true : false);
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击复选框的父框也触发选中*/
                $('input[name="checkItem"]').parent().click(function(){
                    $(this).find('input').click();
                });

//            分页页面跳转
            $('.page_go').click(function () {
                window.location.href = window.location.href.split("?")[0]+'?status=accepted'+'&search='+'{{ search }}'+'&page='+$("#page_index").val();
            });

            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
//            执行test.ping测试key是否正常
            $(".accept_key_test").click(function () {
                var minion_id = $(this).parent().siblings('.minion_id').html();
                $.ajax({
					url:"{% url 'salt_test_ping' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
						'minion_id':minion_id
					},
					success:function(result){
						if(result.status){
						    if(result.result[minion_id]){
                                $('.loading_modal').modal('toggle');
//                                    result.result的值是字典，所以要用JSON.stringify转成字符串
                                toastr.success(JSON.stringify(result.result), '测试成功结果为：', {timeOut: 2500});
                                }else {
						        $('.loading_modal').modal('toggle');
                                toastr.error(JSON.stringify(result.result), '测试成功结果为：', {timeOut: 2500});
                            }
						}else {
						    $('.loading_modal').modal('toggle');
						    toastr.error(result.result,'测试失败：',{timeOut: 2500});
                        }
					}
				});
            });

//            删除key的操作
//            先把点击删除的那条记录的数据传给删除的那个弹出确认模态框
            $(".salt_key_delete_button").click(function () {
                var minion_id = $(this).parent().siblings('.minion_id').html();
                $('.hidden_minion_id').val(minion_id);
                $('.salt_key_delete_modal').modal('toggle');
            });
//            批量删除key的操作
//            先把点击删除的那条记录的数据传给删除的那个弹出确认模态框
            $(".batch_salt_key_delete_button").click(function () {
                var minion_id = [];
                if($('input[name="checkItem"]:checked').length > 0){
                    $('input[name="checkItem"]:checked').each(function () {
                    minion_id.push($(this).parent().siblings('.minion_id').html());
                    });
//                    这里很奇怪赋值给下面的input后发现不是一个列表而是像这样：192.168.68.50-master,192.168.68.1逗号隔开的字符串，
//                    不过这样也方便，删除的时候数据就'minion_id':[minion_id]刚好删除单个本来就是字符串
                    $('.hidden_minion_id').val(minion_id);
                    $('.salt_key_delete_modal').modal('toggle');
                }else {
                    toastr.warning('未选中任何条目');
                }
            });
//           点击确认执行删除和批量等操作在基类saltkey_base.html写了这里不重复写不然会重复执行


//            查询按钮事件
            $('.search_btn').click(function () {
               var search_data = $('#saltkey_search').val();
               window.location.href=window.location.href.split("?")[0]+'?status=accepted'+'&search='+search_data;
            });

//            搜索框回车触发查询按钮事件
            $("#saltkey_search").keydown(function (e) {
                if (e.keyCode == 13) {
                    $('.search_btn').click();
                }
            });
        });
</script>
{% endblock %}
{% block saltkey_list%}
<div class="panel panel-primary">
    <div class="panel-heading" style="background-color: #337A5C;">
        <h3 class="panel-title">已认证KEYS列表</h3>
    </div>
    <div class="panel-body">
        <div style="margin-bottom: 5px;">
        <div class="form-inline" role="form">
            <div class="form-group">
                <button type="button" class="btn btn-primary batch_salt_key_delete_button">批量删除</button>
            </div>
              <div class="form-group pull-right">
                  <input type="text" class="form-control" id="saltkey_search" placeholder="搜索 MinionID" value="{{ search }}">
                <button type="button" class="btn btn-primary search_btn"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
              </div>
        </div>

    </div>
    <table class="table table-hover  table-bordered table-striped table-responsive table-condensed" >
    <!--<caption>主机列表</caption>-->
    <thead>
    <!--给下面tr加个success是bootstrap的一个类颜色会改变下呵呵-->
      <tr class="success">
          <th width="4%"><input type="checkbox" id="checkAll" name="checkAll" /></th>
        <th width="11%">MinionID</th>
        <th width="11%">KEY状态</th>
          <th width="16%">最近一次更新时间</th>
          <th width="28%">操作</th>
      </tr>
    </thead>
    <tbody>
        {% for minion in data_list%}
        <tr>
            <td><input type="checkbox" name="checkItem" /></td>
            <td class="minion_id">{{ minion.minion_id }}</td>
            <td>{{ minion.certification_status }}</td>
            <td>{{ minion.update_time }}</td>
            <td>
                <button type="button" class="btn btn-primary accept_key_test" data-toggle="modal" data-target=".loading_modal">测试</button>
                <button type="button" class="btn btn-danger salt_key_delete_button">删除</button>
            </td>
        </tr>
        {% endfor%}

    </tbody>
    </table>
    <div>
        <ul class="pager">
            {% if data_list.has_previous %}
            <!--注意如果url中已经有参数了比如http://192.168.68.50:8000/saltkey_manage/?status=denied那么需要把这个status加上，不然跳转错了哈哈-->
                <li><a href="?status=accepted&search={{ search }}&page={{ data_list.previous_page_number }}">上一页</a></li>
            {% else %}
                <li class="disabled"><a href="">上一页</a></li>
            {% endif %}

            <li class="current">
                页数 {{ data_list.number }} / {{ data_list.paginator.num_pages }}
            </li>

            {% if data_list.has_next %}
                <li><a href="?status=accepted&search={{ search }}&page={{ data_list.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="">下一页</a></li>
            {% endif %}
            <li>
                &nbsp;&nbsp;<input type="text"  style="width: 30px;border-radius: 30%;" id="page_index">/{{ data_list.paginator.num_pages }}页
                <button type="button" class="btn btn-sm btn-success page_go" >跳转</button>
            </li>
        </ul>
    </div>
    </div>
 </div>
{% endblock%}


