{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filter %}
{% block title %}发布系统{% endblock %}
{% block custom_css %}
	<style type="text/css">

        /*设置表格的宽度固定，不会因为内容过长而出现换行*/
        table{
            table-layout:fixed;
        }
        /*设置表格内容过长出现滚动条*/
        /*td{*/
            /*overflow:auto;*/
            /*text-overflow:clip;white-space:nowrap;*/
        /*}*/

        tbody tr:hover{
        background-color:#9b9b9b !important;
            color: #000;
        }
        /*让列表内的信息上下居中,默认是换行的，但是词内默认没换行要设置word-break实现词内换行*/
        td{
            vertical-align:middle !important;
            text-align: center;
            word-break:break-all;
        }

        th{
            text-align: center;
        }

        /*添加表单滚动*/
        .overflow_set{
        	overflow: auto;
        }
    </style>

{% endblock %}

{% block custom_js %}
<script>
    	$(function(){

    	    // 响应式调整页面高度
    		$(window).resize(function() {

                // 表单的大小自适应窗口，不能设置100%，因为除了表单以外其他东西也会占用高度
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.9);
            });
    		$(window).resize();


//    	    复选框选中操作
                /*“全选/反选”复选框*/
                $('#checkAll').click(function(event){
                    /*将所有行的选中状态设成全选框的选中状态*/
                    $('input[name="checkItem"]').prop('checked',$(this).prop('checked'));
                    /*并调整所有选中行的CSS样式*/
                    if ($(this).prop('checked')) {
                        $('input[name="checkItem"]').parent().parent().addClass('warning');
                    } else{
                        $('input[name="checkItem"]').parent().parent().removeClass('warning');
                    }
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击全选框所在单元格时也触发全选框的点击操作*/
                var $checkAllTh = $('#checkAll').parent();
                $checkAllTh.click(function(){
                    $('#checkAll').click();
                });

                /*点击每一行的选中复选框时*/
                var $tbr = $('table tbody tr');
                $('input[name="checkItem"]').click(function(event){
                    /*调整选中行的CSS样式*/
                    $(this).parent().parent().toggleClass('warning');
                    /*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
                    $('#checkAll').prop('checked',$('input[name="checkItem"]:checked').length == $tbr.length ? true : false);
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击复选框的父框也触发选中*/
                $('input[name="checkItem"]').parent().click(function(){
                    $(this).find('input').click();
                });

//           bootstrap的提示工具jq
            $("[data-toggle='tooltip']").tooltip();

//            分页页面跳转
            $('.page_go').click(function () {
                window.location.href = window.location.href.split("?")[0]+'?search_content='+'{{ search_content }}'+'&page='+$("#page_index").val();
            });

//            查询按钮事件
            $('.search_btn').click(function () {
                var search_field = $('#search_field').val();
                var search_content = $('#search_content').val();
                window.location.href=window.location.href.split("?")[0]+'?search_field='+search_field+'&search_content='+search_content;
            });

//            搜索框回车触发查询按钮事件
            $("#search_content").keydown(function (e) {
                if (e.keyCode == 13) {
                    $('.search_btn').click();
                }
            });

//          // {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });

//            快捷权限管理模态框 打开后获取焦点的框，注意模态框获取焦点必须单独在模态框shown事件中写才有效
            $('#app_auth_fast_channel_modal').on('shown.bs.modal', function () {
                $("#edit_search_app_name").focus();
            });

//           快捷权限管理模态框 隐藏时数据清除,
            $("#app_auth_fast_channel_modal").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
//                select恢复原状挺麻烦的，我这用最蠢的清空掉2个select然后重新添加。。
                $('#edit_search_app_name').val('');
                $('#edit_search_app_group').val('');
				$('#edit_select_app_name').empty();
				$('#edit_selected_app_name').empty();
				$('#edit_select_app_group').empty();
				$('#edit_selected_app_group').empty();
				$('#edit_app_perms_help').text('　');
				$('#edit_app_group_perms_help').text('　');
				$('.fast_channel_username').html("");
            });

//           快捷权限管理按钮触发内容填充模态框
            $('.app_auth_fast_channel_btn').click(function () {
                var fast_channel_username = $(this).parent().siblings('.data_username').html();
                $('.fast_channel_username').html(fast_channel_username);
                var fast_channel_user_id = $(this).parent().siblings('.data_user_id').html();
                $('.fast_channel_user_id').html(fast_channel_user_id);
                var app_name_data = $.trim($(this).parent().siblings('.data_app_perms').attr('title'));
                var app_group_data = $.trim($(this).parent().siblings('.data_app_group_perms').attr('title'));
                if(app_name_data.length != 0) {
                    var app_name_list = app_name_data.split(',');
                    $.each(app_name_list,function (index,content) {
                         // 我这里做的是把已经是成员的添加到选中那边
                        $("<option  value='" + content + "'>" + content + "</option>").appendTo("#edit_selected_app_name");
                    })
                }
                if(app_group_data.length != 0) {
                    var app_group_list = app_group_data.split(',');
                    $.each(app_group_list,function (index,content) {
                         // 我这里做的是把已经是成员的添加到选中那边
                        $("<option  value='" + content + "'>" + content + "</option>").appendTo("#edit_selected_app_group");
                    })
                }
            });

//            快捷权限管理模态框，查找app_name
             $('.edit_search_app_name_btn').click(function(){
                 $('#edit_select_app_name').empty();
                 var app_name=$.trim($('#edit_search_app_name').val());
                 var selected_app_name=$('#edit_selected_app_name option');
//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'app_auth_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'app_name':app_name,
                        'app_auth_tag_key':'modal_search_app_name'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result,function (index,content) {
                                $("<option value='"+content+"'>"+content+"</option>").appendTo("#edit_select_app_name");
                               selected_app_name.each(function () {
                                    if($(this).val()==content){
                                        $("#edit_select_app_name option[value='" +content+ "']").remove();
                                    }
                                });
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});

//           快捷权限管理模态框 app_name选中 操作触发中间的》按钮可用
            $("#edit_select_app_name").click(function () {
                var app_name_list=$('#edit_select_app_name option:selected').map(function(){return $(this).val();}).get().join(",");
                if(app_name_list.length != 0) {
                    $("#edit_select_app_name_btn").attr("disabled",false);
                }
            });

//           快捷权限管理模态框 app_name选中 操作触发中间的《按钮可用
            $("#edit_selected_app_name").click(function () {
                var app_name_list=$('#edit_selected_app_name option:selected').map(function(){return $(this).val();}).get().join(",");
                if(app_name_list.length != 0) {
                    $("#add_delete_app_name_btn").attr("disabled",false);
                }
            });

//           快捷权限管理模态框 app_name》按钮触发选中值移动到右边
            $("#edit_select_app_name_btn").click(function () {
//                在这里触发清空如果没选择minion_id的错误提示,嘿嘿
                $('#add_app_group_members_help').text('　');
                $("#edit_select_app_name option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#edit_selected_app_name");
                    $(this).remove();
                    $("#edit_select_app_name_btn").attr("disabled",true);
                })
            });

//           快捷权限管理模态框 app_name《按钮触发选中值移动到左边
            $("#add_delete_app_name_btn").click(function () {
                $("#edit_selected_app_name option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#edit_select_app_name");
                    $(this).remove();
                    $("#add_delete_app_name_btn").attr("disabled",true);
                })
            });


            
//            快捷权限管理模态框，查找app_group
             $('.edit_search_app_group_btn').click(function(){
                 $('#edit_select_app_group').empty();
                 var app_group=$.trim($('#edit_search_app_group').val());
                 var selected_app_group=$('#edit_selected_app_group option');
//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'app_auth_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'app_group_name':app_group,
                        'app_auth_tag_key':'modal_search_app_group'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result,function (index,content) {
                                $("<option value='"+content+"'>"+content+"</option>").appendTo("#edit_select_app_group");
                               selected_app_group.each(function () {
                                    if($(this).val()==content){
                                        $("#edit_select_app_group option[value='" +content+ "']").remove();
                                    }
                                });
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});

//           快捷权限管理模态框 app_group选中 操作触发中间的》按钮可用
            $("#edit_select_app_group").click(function () {
                var app_group_list=$('#edit_select_app_group option:selected').map(function(){return $(this).val();}).get().join(",");
                if(app_group_list.length != 0) {
                    $("#edit_select_app_group_btn").attr("disabled",false);
                }
            });

//           快捷权限管理模态框 app_group选中 操作触发中间的《按钮可用
            $("#edit_selected_app_group").click(function () {
                var app_group_list=$('#edit_selected_app_group option:selected').map(function(){return $(this).val();}).get().join(",");
                if(app_group_list.length != 0) {
                    $("#edit_delete_app_group_btn").attr("disabled",false);
                }
            });

//           快捷权限管理模态框 app_group》按钮触发选中值移动到右边
            $("#edit_select_app_group_btn").click(function () {
//                在这里触发清空如果没选择minion_id的错误提示,嘿嘿
                $('#add_app_group_members_help').text('　');
                $("#edit_select_app_group option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#edit_selected_app_group");
                    $(this).remove();
                    $("#edit_select_app_group_btn").attr("disabled",true);
                })
            });

//           快捷权限管理模态框 app_group《按钮触发选中值移动到左边
            $("#edit_delete_app_group_btn").click(function () {
                $("#edit_selected_app_group option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#edit_select_app_group");
                    $(this).remove();
                    $("#edit_delete_app_group_btn").attr("disabled",true);
                })
            });


//          快捷权限管理 表单提交
            $('#edit_fast_channel_submit').click(function(){
				var app_perms=$('#edit_selected_app_name option').map(function(){return $(this).val();}).get().join(",");
				var app_group_perms=$('#edit_selected_app_group option').map(function(){return $(this).val();}).get().join(",");
                var app_auth_username =$.trim($('.fast_channel_username').text());
                var app_auth_user_id =$.trim($('.fast_channel_user_id').text());
//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'app_auth_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
						'app_perms':app_perms,
                        'app_group_perms':app_group_perms,
                        'username':app_auth_username,
                        'my_user_id':app_auth_user_id,
                        'app_auth_tag_key':'app_auth_update'

					},
					success:function(result){
						if(result.status){
                            $('#app_auth_fast_channel_modal').modal('toggle');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
//						    通过表单验证返回的错误是多层嵌套字典加列表，一层key是对应提交数据的key，二层有2个key一个是code一个是message，错误信息在message里
						    $.each(result.result, function (k,v) {
//						        把错误信息插入到对应的错误help位子
                                $('#edit_'+k+'_help').text(v[0].message);
                            });
                            // console.log(JSON.stringify(result.result));
                        }
					}
				});

			});

//            编辑备注态框 打开后获取焦点的框，注意模态框获取焦点必须单独在模态框shown事件中写才有效
            $('#edit_app_auth_description_modal').on('shown.bs.modal', function () {
                $("#edit_description").focus();
            });

//            编辑备注按钮 数据填充
            $('.edit_app_auth_description_btn').click(function () {
                $('#edit_app_auth_user_id').val($(this).parent().siblings('.data_user_id').html());
                $('#edit_app_auth_username').val($(this).parent().siblings('.data_username').html());
				$('#edit_description').val($(this).parent().siblings('.data_description').html());
            });

//           编辑备注模态框 隐藏时数据清除
            $("#edit_app_auth_description_modal").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
//                select恢复原状挺麻烦的，我这用最蠢的清空掉2个select然后重新添加。。
                $('#edit_app_auth_user_id').val('');
                $('#edit_app_auth_username').val('');
				$('#edit_description').val('');

				$('#edit_description_help').text('　');
            });

//           编辑备注模态框 错误恢复
            $('#edit_description').keyup(function(){
	    		$('#edit_description_help').text('　');
	    	});

//           编辑确认提交按钮触发提交更新
            $('#edit_app_auth_description_submit').click(function(){
                var my_user_id=$('#edit_app_auth_user_id').val();
                var username=$('#edit_app_auth_username').val();
                var description=$('#edit_description').val();
//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'app_auth_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
						'my_user_id':my_user_id,
                        'username':username,
                        'description':description,
                        'app_auth_tag_key':'app_auth_description_update'

					},
					success:function(result){
						if(result.status){
                            $('#edit_app_auth_description_modal').modal('hide');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
//						    通过表单验证返回的错误是多层嵌套字典加列表，一层key是对应提交数据的key，二层有2个key一个是code一个是message，错误信息在message里
						    $.each(result.result, function (k,v) {
//						        把错误信息插入到对应的错误help位子
                                $('#edit_'+k+'_help').text(v[0].message);
                            })
//                            $('#project_add_help').text(JSON.stringify(result.result));
                        }
					}
				});

			});



		});

</script>

{% endblock %}

{% block panel-title_content %}发布授权{% endblock %}

{% block panel_body_content %}


<div class="row-fluid ">
    <div class="col-xs-12 overflow_set"  >
        <div style="margin-bottom: 5px;">
            <!--下面这里本来是用form的样式的，后来改成div是因为用form默认带了回车会提交表单的功能，所以改成div不过class还是form的哈哈-->
            <div class="form-inline" role="form">
                <div class="form-group ">
                      <label for="search_field">查询字段</label>
                      <select class="form-control" id="search_field">
                          <option value="search_myuser_username">用户名称</option>
                          {% if search_field == "search_app_group_name" %}
                          <option value="search_app_name" selected>应用名称</option>
                          <option value="search_app_group_name">应用组名称</option>
                          {% elif search_field == "search_app_group_members" %}
                          <option value="search_app_name">应用名称</option>
                          <option value="search_app_group_name" selected>应用组名称</option>
                          {% else %}
                          <option value="search_app_name">应用名称</option>
                          <option value="search_app_group_name">应用组名称</option>
                          {% endif %}

                      </select>
                        <div class="input-group">
                            <input type="text" class="form-control" id="search_content" placeholder="请输入查询条件" value="{{ search_content }}">
                              <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary search_btn"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                              </span>
                        </div>
                  </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-success app_group_add_button " data-toggle="modal" data-target="#app_group_add_modal">刷新用户</button>
                </div>
            </div>

        </div>
        <table class="table table-hover  table-bordered table-striped table-responsive table-condensed" >
            <!--<caption>主机列表</caption>-->
            <thead>
            <!--给下面tr加个success是bootstrap的一个类颜色会改变下呵呵-->
              <tr class="success">
                  <th width="5%"><input type="checkbox" id="checkAll" name="checkAll" /></th>
                  <th width="10%">用户名称</th>
                  <th width="20%">应用权限</th>
                  <th width="20%">应用组权限</th>
                  <th width="10%">描述备注</th>
                  <th width="35%">操作</th>

              </tr>
            </thead>
            <tbody>

                {% for data in data_list%}
                <tr>
                    <td><input type="checkbox" name="checkItem" /></td>
                    <td class="data_username">{{ data.username }}</td>
                    {% if data.app_perms %}
                    <td class="data_app_perms" title="{{data.app_perms}}">{{ data.app_perms | truncatechars:60 }}</td>
                    {% else %}
                    <td class="data_app_perms"></td>
                    {% endif %}
                    {% if data.app_group_perms %}
                    <td class="data_app_group_perms" title="{{data.app_group_perms}}">{{ data.app_group_perms | truncatechars:60 }}</td>
                    {% else %}
                    <td class="data_app_group_perms"></td>
                    {% endif %}
                    {% if data.description %}
                    <td class="data_description">{{ data.description }}</td>
                    {% else %}
                    <td class="data_description"></td>
                    {% endif %}
                    <td class="data_user_id hidden">{{ data.my_user_id }}</td>
                    <td class="">
                        <button type="button" class="btn btn-success btn-sm app_auth_fast_channel_btn" data-toggle="modal" data-target="#app_auth_fast_channel_modal" >快捷权限管理</button>
                        <button type="button" class="btn btn-info btn-sm edit_app_auth_description_btn" data-toggle="modal" data-target="#edit_app_auth_description_modal">编辑备注</button>
                        <a href="{% url 'app_auth_app_manage' %}?my_user_id={{data.my_user_id}}&username={{data.username}}"  class="btn btn-sm btn-primary" role="button">应用权限管理</a>
                        <a href="{% url 'app_auth_app_group_manage' %}?my_user_id={{data.my_user_id}}&username={{data.username}}"  class="btn btn-sm btn-primary" role="button">应用组权限管理</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <ul class="pager">
                {% if data_list.has_previous %}
                <!--注意如果url中已经有参数了比如http://192.168.68.50:8000/saltkey_manage/?status=denied那么需要把这个status加上，不然跳转错了哈哈-->
                    <li><a href="?search_content={{ search_content }}&page={{ data_list.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a href="">上一页</a></li>
                {% endif %}

                <li class="current">
                    页数 {{ data_list.number }} / {{ data_list.paginator.num_pages }}
                </li>

                {% if data_list.has_next %}
                    <li><a href="?search_content={{ search_content }}&page={{ data_list.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><a href="">下一页</a></li>
                {% endif %}
                <li>
                    &nbsp;&nbsp;<input type="text"  style="width: 30px;border-radius: 30%;" id="page_index">/{{ data_list.paginator.num_pages }}页
                    <button type="button" class="btn btn-sm btn-success page_go" >跳转</button>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block another_content %}

<!-- 管理权限模态框 -->
<div class="modal fade juzhong" id="app_auth_fast_channel_modal" tabindex="-1" role="dialog" aria-labelledby="app_auth_fast_channel_lable" aria-hidden="true" data-backdrop="static" >
	<div class="modal-dialog" style="width: 720px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="app_auth_fast_channel_lable">
					快捷编辑用户 <span style="color: #0063DC" class="fast_channel_username"></span> 所有权限
                    <span style="color: #0063DC" class="fast_channel_user_id hidden"></span>
				</h4>
                <!--<span id="xxxxxx" style="color: #FF0000;">　</span>-->

			</div>
			<div class="modal-body">

                <div class="row" >
                    <div class="col-sm-12">
                        <div class="form-horizontal " role="form"  >

							<div class="form-group ">
                                <label class="control-label col-sm-2 " >应用授权:</label>
                                <div class="panel panel-default col-sm-4" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                                    <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                                        <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="edit_search_app_name" placeholder="查询应用名称">
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary edit_search_app_name_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                          </span>

                                        </div>
                                    </div>
                                    <select size=10  multiple class="form-control panel-body" id="edit_select_app_name" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">
                                    </select>
                                </div>

                                <div class="col-sm-1" style="padding: 0 10px 0 10px;">
                                    <div style="margin-top: 30px;">
                                        <button type="button" class="btn btn-xs btn-info " id="edit_select_app_name_btn" disabled="true">&gt;&gt;</button>
                                        <button type="button" class="btn btn-xs btn-info " style="margin-top: 1px;" id="add_delete_app_name_btn" disabled="true">&lt;&lt;</button>
                                    </div>
                                </div>

                                <div class="panel panel-info col-sm-4" style="padding: 0;margin-bottom: 0;">
                                    <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                                        <h3 class="panel-title " style="font-size: 12px;padding: 5px 10px;height: 30px;line-height: 1.5;">已选应用名称</h3>
                                    </div>
                                    <select size=10 multiple class="form-control panel-body" id="edit_selected_app_name" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                                    </select>
                                </div>

                                <label class="control-label  " style="color: #FF0000;" >*</label>

                                <div class="col-sm-6 col-sm-offset-3">
									    <span id="edit_app_perms_help" style="color: #FF0000;">　</span>
								</div>
							</div>
                            <div class="form-group ">
                                <label class="control-label col-sm-2 " >应用组授权:</label>
                                <div class="panel panel-default col-sm-4" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                                    <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                                        <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="edit_search_app_group" placeholder="查询应用组名称">
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary edit_search_app_group_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                          </span>

                                        </div>
                                    </div>
                                    <select size=10  multiple class="form-control panel-body" id="edit_select_app_group" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">
                                    </select>
                                </div>

                                <div class="col-sm-1" style="padding: 0 10px 0 10px;">
                                    <div style="margin-top: 30px;">
                                        <button type="button" class="btn btn-xs btn-info " id="edit_select_app_group_btn" disabled="true">&gt;&gt;</button>
                                        <button type="button" class="btn btn-xs btn-info " style="margin-top: 1px;" id="edit_delete_app_group_btn" disabled="true">&lt;&lt;</button>
                                    </div>
                                </div>

                                <div class="panel panel-info col-sm-4" style="padding: 0;margin-bottom: 0;">
                                    <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                                        <h3 class="panel-title " style="font-size: 12px;padding: 5px 10px;height: 30px;line-height: 1.5;">已选的应用组名称</h3>
                                    </div>
                                    <select size=10 multiple class="form-control panel-body" id="edit_selected_app_group" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                                    </select>
                                </div>

                                <label class="control-label  " style="color: #FF0000;" >*</label>

                                <div class="col-sm-6 col-sm-offset-3">
									<span id="edit_app_group_perms_help" style="color: #FF0000;">　</span>
								</div>
							</div>


                    </div>
                    </div>
                </div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
                <button type="button" class="btn btn-primary" id="edit_fast_channel_submit">
					确认提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 编辑备注模态框 -->
<div class="modal fade juzhong" id="edit_app_auth_description_modal" tabindex="-1" role="dialog" aria-labelledby="edit_app_auth_description_lable" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="edit_app_auth_description_lable">
					编辑备注
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form"  >

                            <div class="form-group">
                                <label class="control-label col-sm-3 " for="edit_app_auth_username">用户名称:</label>
                                <div class="col-sm-6">
										<input type="text" class="form-control" id="edit_app_auth_username"
									    style="font-size: 14px;"  readonly="readonly">
                                    <input type="text" class="hidden" id="edit_app_auth_user_id">
								</div>
							</div>

                            <div class="form-group">
										<label class="control-label col-sm-3 " for="edit_description">备注:</label>
                                <div class="col-sm-6">
										<input type="text" class="form-control" id="edit_description"
									    style="font-size: 14px;" >
									    <span id="edit_description_help" style="color: #FF0000;">　</span>
								</div>
							</div>


				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
                <button type="button" class="btn btn-primary" id="edit_app_auth_description_submit">
					确认提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!--删除提示框，也是用的模态框-->
<div class="modal fade juzhong " id="delete_app_group_modal" tabindex="-1" role="dialog" aria-labelledby="delete_app_group__lable" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!--下面这个modal-content的div可以调整整个模态框的大小-->
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">操作提醒</h4>
            </div>
            <div class="modal-body">
                <!--隐藏属性，用来获取触发模态框的那条记录的相关数据-->
                <input type="hidden" class="hidden_app_group_name"/>
                <p style="color: #FF000C;">确定要删除吗</p>
            </div>
            <!--下面这个modal-footer调整高度的话是调整最下面一行的高度-->
            <div class="modal-footer" style="height:100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="delete_app_group_button" data-dismiss="modal" data-toggle="modal" data-target=".loading_modal"> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- loading模态框 -->
<div class="modal fade juzhong loading_modal " data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"  aria-hidden="true" >
	<div class="modal-dialog" style="width:100px;">
		<div class="modal-content" style="background-color: rgba(255,255,255,0.5);">
				<img src="../static/images/loading.gif"  alt="未加载" >
		</div>
	</div>
</div>
{% endblock %}