{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}华为CDN{% endblock %}
{% block custom_css %}
	<style type="text/css">
        .he10{
			height: 10px;
		}
        .he20{
			height: 20px;
		}

        /*添加扫描表单滚动*/
        .overflow_set{
        	overflow: auto;
        }

        /*让列表内的信息上下居中,默认是换行的，但是词内默认没换行要设置word-break实现词内换行*/
        td{
            vertical-align:middle !important;
            text-align: center;
            word-break:break-all;
        }

        th{
            text-align: center;
        }

        textarea{
            /*width:300px; */
            height:100%;
            overflow-y:visible
        }

        #myTab li a:hover{
            color: #555!important;
            background-color: #ddd;
        }

    </style>

{% endblock %}

{% block custom_js %}
<script>
    	$(function(){

            // 响应式调整页面高度
    		$(window).resize(function() {
    		    // 扫描的输入表单单独适应窗口高度，不然如果以后我添加更多的扫描东西越来越长的时候会出现
                // 整个右侧栏出现滚动条，我这样设置以后只会扫描表单那一块出现滚动，而不会然右边的结果框出现滚动条
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.85);
            });
    		$(window).resize();


    		//  分页页面跳转
            $('.page_go').click(function () {
                window.location.href = window.location.href.split("?")[0]+'?history=true&page='+$("#page_index").val();
            });

			//  {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });


    	    //页面输入框改变清空错误提示信息
			$('#huawei_cdn_urls_data').keyup(function(){
	    		$('#huawei_cdn_urls_data_help').text('　');
	    	});
			$('#huawei_cdn_preheating_urls_data').keyup(function(){
	    		$('#huawei_cdn_preheating_urls_data_help').text('　');
	    	});


//          点击类型选择触发文本框提示内容改变
	        $('.huawei_cdn_type_select').click(function(){
	         	if($(this).val()=='directory'){
	         		$('#huawei_cdn_urls_data').attr('placeholder','输入的目录必须带有http://或https://，使用“/”结尾，URL之间以“;”进行分隔，或者一行一个URL，如http://www.example.com/folder01/;http://www.example.com/folder02/。其中，www.example.com为您的加速域名。');
	         	}else if($(this).val()=='file'){
	         	    $('#huawei_cdn_urls_data').attr('placeholder','输入的URL必须带有http://或https://，URL之间以“;”进行分隔，或者一行一个URL，如http://www.example.com/file01.html;http://www.example.com/file02.html。其中，www.example.com为您的加速域名。');
	         	}
			});




            // 刷新缓存任务执行命令按钮事件
            $('#huawei_cdn_refresh_submit').click(function () {
                var select_type = $("input[name='huawei_cdn_type_select']:checked").val();
                var urls = $.trim($('#huawei_cdn_urls_data').val());
                if($.trim(urls).length == 0){
                    $('#huawei_cdn_urls_data_help').text('请输入要刷新的内容');
                        $('#huawei_cdn_urls_data').focus();
                        return false
                }

                var $btn = $(this).button('loading');
                $.ajax({
					url:"{% url 'huawei_cdn' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'select_type':select_type,
                        'urls':urls,
                        'huawei_cdn_tag_key':'cdn_refresh'
					},
					success:function(result){
						if(result.status){
						    toastr.success(JSON.stringify(result.result), {timeOut: 2500});
						    $btn.button('reset');
						    $('#huawei_cdn_urls_data').val('');
						}else {
						    toastr.error(JSON.stringify(result.result), {timeOut: 2500});
						    $btn.button('reset');
                        }
					}
				});
            });

            // 缓存预热任务执行命令按钮事件
            $('#huawei_cdn_preheating_submit').click(function () {
                var urls = $.trim($('#huawei_cdn_preheating_urls_data').val());
                if($.trim(urls).length == 0){
                    $('#huawei_cdn_preheating_urls_data_help').text('请输入要预热的内容');
                        $('#huawei_cdn_preheating_urls_data').focus();
                        return false
                }

                var $btn = $(this).button('loading');
                $.ajax({
					url:"{% url 'huawei_cdn' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'urls':urls,
                        'huawei_cdn_tag_key':'cdn_preheating'
					},
					success:function(result){
						if(result.status){
						    toastr.success(JSON.stringify(result.result), {timeOut: 2500});
						    $btn.button('reset');
						    $('#huawei_cdn_urls_data').val('');
						}else {
						    toastr.error(JSON.stringify(result.result), {timeOut: 2500});
						    $btn.button('reset');
                        }
					}
				});
            });

            //刷新任务状态
            $('.update_data').click(function () {
                var task_id = $(this).parent().siblings('.task_id').html();
                var task_status = $(this).parent().siblings('.task_status');
                var task_urls = $(this).parent().siblings('.task_urls');
                var $btn = $(this).button('loading');
                $.ajax({
					url:"{% url 'huawei_cdn' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'task_id':task_id,
                        'huawei_cdn_tag_key':'history_update'
					},
					success:function(result){
						if(result.status){
						    if(result.result.status == 'task_inprocess'){
						        task_status.html('执行中...');
                            }
                            else {
                                task_status.html('已完成');
                                task_status.css("color","#00CC00");
                            }
                            task_urls.html(JSON.stringify(result.result.urls));
						    $btn.button('reset');
						    toastr.success('刷新成功', {timeOut: 1500});
						}else {
						    $btn.button('reset');
						    toastr.error(JSON.stringify(result.result), {timeOut: 2500});
                        }
					}
				});
            });

            // 任务记录查询详细资料
            $('.view_detail').click(function () {
                $('.view_detail_tb').empty();
                var urls = $(this).parent().siblings('.task_urls').html();
                urls = urls.replace(/ None/g,null);
                urls = eval(urls);
                $.each(urls,function(i,data){
                    var status = '执行中...';
                    if(data.status=='succeed'){
                        status = '已完成'
                    }
                    $('.view_detail_tb').append("<tr><td>"+data.url+"</td><td>"+status+"</td></tr>");
                });


            });


		});

    </script>
{% endblock %}

{% block panel-title_content %}华为CDN缓存预热管理{% endblock %}

{% block panel_body_content %}

<div class="row-fluid ">
    <div class="col-xs-12 overflow_set" >
        <div class="he10"></div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="{% if history != 'true' %}active {% endif %}"><a href="#refresh" data-toggle="tab">刷新</a></li>
            <li><a href="#preheating" data-toggle="tab">预热</a></li>
            <li class="{% if history == 'true' %}active {% endif %}"><a href="#history" data-toggle="tab">操作记录</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade {% if history != 'true' %} in active {% endif %} col-xs-6" id="refresh">
                <div class="form-horizontal "   role="form" style="font-size: 15px;" >
                    <div class="he10"></div>
                    <div class="alert alert-success">CDN节点的缓存不实时更新，当您的源站内容更新后，希望用户获取到最新资源，可以通过缓存刷新请求，强制CDN节点缓存过期。
每个帐户每天最多刷新2000个URL和100个目录，URL单次提交数量不超过1000个。任务生效大约需要5分钟。</div>
                    <div class="form-group" >
                        <label class="control-label col-sm-2" style="text-align: center;">类型:</label>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" class="huawei_cdn_type_select" name="huawei_cdn_type_select"  value="file" checked> URL
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="huawei_cdn_type_select" name="huawei_cdn_type_select"   value="directory"> 目录
                            </label>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label class="control-label col-sm-2 " style="text-align: center;">URL:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="huawei_cdn_urls_data" rows="10" placeholder="输入的URL必须带有http://或https://，URL之间以“;”进行分隔，或者一行一个URL，如http://www.example.com/file01.html;http://www.example.com/file02.html。其中，www.example.com为您的加速域名。"></textarea>
                            <span  id="huawei_cdn_urls_data_help" style="color: #FF0000;">　</span>
                        </div>
                    </div>

                    <div class="form-group " >
                        <div class="col-sm-3 col-sm-offset-2" style="">
                            <button type="button" class="btn btn-success " id="huawei_cdn_refresh_submit" data-loading-text="正在执行...">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade col-xs-6" id="preheating">
                <div class="form-horizontal "   role="form" style="font-size: 15px;" >
                    <div class="he10"></div>
                    <div class="alert alert-success">当您的源站内容更新后，可以通过缓存预热请求，将源站的资源主动缓存到CDN节点。用户可以直接从CDN节点获取访问内容，无需回源。
每个帐户每天最多预热1000个URL，单次提交数量不超过1000个。任务生效时间取决于预热文件数量、文件大小以及网络状况等。</div>
                    <div class="form-group" >
                        <label class="control-label col-sm-2 " style="text-align: center;">URL:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="huawei_cdn_preheating_urls_data" rows="10" placeholder="输入的URL必须带有http://或https://，URL之间以“;”进行分隔，或者一行一个URL，如http://www.example.com/file01.html;http://www.example.com/file02.html。其中，www.example.com为您的加速域名。"></textarea>
                            <span  id="huawei_cdn_preheating_urls_data_help" style="color: #FF0000;">　</span>
                        </div>
                    </div>

                    <div class="form-group " >
                        <div class="col-sm-3 col-sm-offset-2" style="">
                            <button type="button" class="btn btn-success " id="huawei_cdn_preheating_submit" data-loading-text="正在执行...">提交</button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade {% if history == 'true' %} in active {% endif %}" id="history">
                <div style="margin-bottom: 5px;padding-top: 10px;">
                    <table class="table table-hover  table-bordered table-striped table-responsive table-condensed" >
                        <caption class="alert alert-info" >性能考虑“任务状态”不主动刷新，请手动点击刷新获取最新任务状态</caption>
                    <thead>
                    <!--给下面tr加个success是bootstrap的一个类颜色会改变下呵呵-->
                      <tr class="success">
                          <th width="18%">任务类型</th>
                          <th width="12%">任务状态</th>
                          <th width="16%">创建时间</th>
                          <th width="10%">执行人</th>
                          <th width="20%">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in data_list%}
                        <tr>
                            <td class="task_type">{{ data.task_type }}</td>
                            {% if  data.task_status == 'task_inprocess' %}
                            <td style="color: #4d69cc" class="task_status">执行中...</td>
                            {% else %}
                            <td style="color: #00CC00" class="task_status">已完成</td>
                            {% endif %}
                            <td class="create_time">{{ data.create_time }}</td>
                            <td class="operator">{{ data.operator }}</td>

                            <!--隐藏内容-->
                            <td class="task_id hidden">{{ data.task_id }}</td>
                            <td class="task_urls hidden">{{ data.urls}}</td>

                            <td>
                                <button type="button" class="btn btn-info btn-sm update_data" data-loading-text="正在执行...">刷新</button>
                                <button type="button" class="btn btn-info btn-sm view_detail" data-toggle="modal" data-target="#view_detail_modal">详情</button>
                            </td>
                        </tr>
                        {% endfor%}

                    </tbody>
                  </table>
                <div>
                    <ul class="pager">
                        {% if data_list.has_previous %}
                        <!--注意如果url中已经有参数了比如http://192.168.68.50:8000/saltkey_manage/?status=denied那么需要把这个status加上，不然跳转错了哈哈-->
                            <li><a href="?history=true&page={{ data_list.previous_page_number }}">上一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="">上一页</a></li>
                        {% endif %}

                        <li class="current">
                            页数 {{ data_list.number }} / {{ data_list.paginator.num_pages }}
                        </li>

                        {% if data_list.has_next %}
                            <li><a href="?history=true&page={{ data_list.next_page_number }}">下一页</a></li>
                        {% else %}
                            <li class="disabled"><a href="">下一页</a></li>
                        {% endif %}
                        <li>
                            &nbsp;&nbsp;<input type="text"  style="width: 30px;border-radius: 30%;" id="page_index">/{{ data_list.paginator.num_pages }}页
                            <button type="button" class="btn btn-sm btn-success page_go" >跳转</button>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block another_content %}
<!--历史详细信息模态框-->
<div class="modal fade juzhong" id="view_detail_modal" tabindex="-1" role="dialog" aria-labelledby="view_detail_lable" aria-hidden="true" >
	<div class="modal-dialog" style="width: 780px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="view_detail_lable">详细信息
				</h4>

			</div>
			<div class="modal-body" style="padding-bottom:0;">
                <div style="margin-bottom: 5px;padding-top: 10px;">
                    <table class="table table-hover  table-bordered table-striped table-responsive table-condensed" >
                    <thead>
                    <!--给下面tr加个success是bootstrap的一个类颜色会改变下呵呵-->
                      <tr class="success">
                          <th width="70%">url</th>
                          <th width="30%">任务状态</th>
                      </tr>
                    </thead>
                    <tbody class="view_detail_tb">

                    </tbody>
                  </table>
                </div>

			</div>
			<div class="modal-footer" style="padding: 5px 15px 5px 0;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
					确认
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

{% endblock %}