{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Salt命令执行{% endblock %}
{% block custom_css %}
	<style type="text/css">
        .he10{
			height: 10px;
		}
        .he20{
			height: 20px;
		}

        /*添加扫描表单滚动*/
        .overflow_set{
        	overflow: auto;
        }
		/*pre标签不会自动换行第二个是换行，第一个是滚动条*/
		#salt_exe_result {
            overflow-y: auto;
            white-space: pre-wrap;
        }
    </style>

{% endblock %}

{% block custom_js %}
<script>
    	$(function(){

    	    // 响应式调整页面高度
    		$(window).resize(function() {
    		    // 结果打印框pre高度不然默认是没高度的
	        	$('.overflow_result').css(
	        		"height",$('.hall').height()*0.8);

                // 扫描的输入表单单独适应窗口高度，不然如果以后我添加更多的扫描东西越来越长的时候会出现
                // 整个右侧栏出现滚动条，我这样设置以后只会扫描表单那一块出现滚动，而不会然右边的结果框出现滚动条
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.85);
            });
    		$(window).resize();

			// // {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });


    	    //页面输入框改变清空错误提示信息
			$('#tgt_grain').keyup(function(){
	    		$('#tgt_grain_help').text('　');
	    	});
			$('#tgt_grain_pcre').keyup(function(){
	    		$('#tgt_grain_pcre_help').text('　');
	    	});
			$('#tgt_ip_address').keyup(function(){
	    		$('#tgt_ip_address_help').text('　');
	    	});
	    	$('#tgt_pcre').keyup(function(){
	    		$('#tgt_pcre_help').text('　');
	    	});
	    	$('#search_jid_status').keyup(function(){
	    		$('#search_jid_status_help').text('　');
	    	});
	    	$('#search_jid_result').keyup(function(){
	    		$('#search_jid_result_help').text('　');
	    	});
            
            

			// 执行对象选择触发输入框的隐藏显示
			$('input[name="select_tgt"]').click(function () {
               if($.trim($(this).val())=="any"){
                   $('.select_tgt_list').addClass('hidden');
               }else if($.trim($(this).val())=="custom_group"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_custom_group_class').removeClass('hidden');
                   $('#tgt_custom_group').focus();
               }
               else if($.trim($(this).val())=="minion_list"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_minion_list_class').removeClass('hidden');
                   $('#search_minion_id').focus();
               }
               else if($.trim($(this).val())=="pcre"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_pcre_class').removeClass('hidden');
                   $('#tgt_pcre').focus();
               }
               else if($.trim($(this).val())=="grain"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_grain_class').removeClass('hidden');
                   $('#tgt_grain').focus();
               }
               else if($.trim($(this).val())=="grain_pcre"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_grain_pcre_class').removeClass('hidden');
                   $('#tgt_grain_pcre').focus();
               }
               else if($.trim($(this).val())=="ip_address"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.tgt_ip_address_class').removeClass('hidden');
                   $('#tgt_ip_address').focus();
               }

            });

//          查找minion_id 后期要准备些一个公共的view方法存这个经常用到查询minion的调用，不然每次都要在views.py写一遍
            $('.search_minion_id_btn').click(function(){
                 $('#search_select_minion_id').empty();
                 var minion_id=$.trim($('#search_minion_id').val());
                 var selected_minion_id=$('#search_selected_minion_id option');

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'minion_id':minion_id,
                        'salt_exe_tag_key':'modal_search_minion_id'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#search_select_minion_id");
                                selected_minion_id.each(function () {
                                    if($(this).val()==content){
                                        $("#search_select_minion_id option[value='" +content+ "']").remove();
                                    }
                                });
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});

//          minion_id选中 操作触发中间的》按钮可用
            $("#search_select_minion_id").click(function () {
                var minion_id_list=$('#search_select_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0){
                    $("#search_select_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id选中 操作触发中间的《按钮可用
            $("#search_selected_minion_id").click(function () {
                var minion_id_list=$('#search_selected_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0) {
                    $("#add_delete_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id》按钮触发选中值移动到右边
            $("#search_select_minion_id_btn").click(function () {
//                在这里触发清空如果没选择minion_id的错误提示,嘿嘿
                $('#minion_list_help').text('　');
                $("#search_select_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#search_selected_minion_id");
                    $(this).remove();
                    $("#search_select_minion_id_btn").attr("disabled",true);
                })
            });

//          minion_id《按钮触发选中值移动到左边
            $("#add_delete_minion_id_btn").click(function () {
                $("#search_selected_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#search_select_minion_id");
                    $(this).remove();
                    $("#add_delete_minion_id_btn").attr("disabled",true);
                })
            });

//          client下拉框触发文本框提示内容改变
	        $('#client_select').change(function(){
	         	if($(this).val()=='local'){
	         		$('.client_help').text('提示：等同命令行salt命令');
	         		$('.tgt_div').removeClass('hidden');
	         	}else if($(this).val()=='local_async'){
	         	    $('.client_help').text('提示：等同命令行salt --async异步命令');
	         	    $('.tgt_div').removeClass('hidden');
	         	}else if($(this).val()=='runner'){
	         		$('.client_help').text('提示：等同命令行salt-run命令,salt-run不需要执行对象参数');
	         		$('.tgt_div').addClass('hidden');
	         	}
			});

        //   client下拉框改变，触发module选择框填充命令
            $('#client_select').blur(function () {
                var client = $('#client_select').val();
                if(client == 'local' || client == 'local_async'){
                    var salt_cmd_type = 'module';
                }else if(client == 'runner'){
                    var salt_cmd_type = 'runner';
                }
                $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'salt_cmd_type':salt_cmd_type,
                        'salt_exe_tag_key':'search_salt_module'
					},
					success:function(result){
						if(result.status){
						    $("#module_datalist").empty();
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#module_datalist");
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
            });

	     //   module选择框改变，触发Fun选择框填充命令
            $('#module_select').blur(function () {
                var client = $('#client_select').val();
                if(client == 'local' || client == 'local_async'){
                    var salt_cmd_type = 'module';
                }else if(client == 'runner'){
                    var salt_cmd_type = 'runner';
                }
                var salt_cmd_module =  $("#module_select").val();
                $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'salt_cmd_type':salt_cmd_type,
                        'salt_cmd_module':salt_cmd_module,
                        'salt_exe_tag_key':'search_salt_cmd'
					},
					success:function(result){
						if(result.status){
						    $("#cmd_datalist").empty();
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#cmd_datalist");
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
            });

         //   使用帮助点击事件
            $('#salt_cmd_doc').click(function () {
                var client = $('#client_select').val();
                if(client == 'local' || client == 'local_async'){
                    var salt_cmd_type = 'module';
                }else if(client == 'runner'){
                    var salt_cmd_type = 'runner';
                }
                var salt_cmd = $('#cmd_select').val()
                $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'salt_cmd':salt_cmd,
                        'salt_cmd_type':salt_cmd_type,
                        'salt_exe_tag_key':'search_salt_cmd_doc'
					},
					success:function(result){
						if(result.status){
						    $("#salt_cmd_doc_info").text("");
						    $('#salt_cmd_doc_modal').modal('toggle');
                            $('#salt_cmd_doc_info').text(result.result);
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
            });

            $('#salt_exe_sumbit').click(function () {
                var client = $('#client_select').val();
                var fun = $('#cmd_select').val();
                var arg = $.trim($('#arg_data').val()).split(',,');
                var select_tgt = $("input[name='select_tgt']:checked").val();
                var tgt_type = 'glob';
                var tgt = '';
                if(select_tgt == 'any'){
                    tgt = '*';
                    tgt_type = 'glob';
                }else if(select_tgt == 'minion_list'){
                    tgt = $('#search_selected_minion_id option').map(function(){return $(this).val();}).get().join(",");
                    if(tgt.length == 0){
                        $('#minion_list_help').text('请选择minion_id');
                        return false
                    }
                    tgt_type = 'list';
                }else if(select_tgt == 'grain'){
                    tgt = $.trim($('#tgt_grain').val());
                    if(tgt.length == 0){
                        $('#tgt_grain_help').text('请输入grain条件');
                        $('#tgt_grain').focus();
                        return false
                    }
                    tgt_type = 'grain';
                }
                else if(select_tgt == 'grain_pcre'){
                    tgt = $.trim($('#tgt_grain_pcre').val());
                    if(tgt.length == 0){
                        $('#tgt_grain_pcre_help').text('请输入grain正则条件');
                        $('#tgt_grain_pcre').focus();
                        return false
                    }
                    tgt_type = 'grain_pcre';
                }
                else if(select_tgt == 'ip_address'){
                    tgt = $.trim($('#tgt_ip_address').val());
                    if(tgt.length == 0){
                        $('#tgt_ip_address_help').text('请输入IP或IP段');
                        $('#tgt_ip_address').focus();
                        return false
                    }
                    tgt_type = 'ipcidr';
                }
                else if(select_tgt == 'pcre'){
                    tgt = $.trim($('#tgt_pcre').val());
                    if(tgt.length == 0){
                        $('#tgt_pcre_help').text('请输入minion id正则');
                        $('#tgt_pcre').focus();
                        return false
                    }
                    tgt_type = 'pcre';
                }
                var $btn = $(this).button('loading');
                $("#salt_exe_result").text("正在执行.....");
                $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'client':client,
                        'tgt':tgt,
                        'tgt_type':tgt_type,
                        'fun':fun,
                        'arg':arg,
                        'salt_exe_tag_key':'salt_exe'
					},
					success:function(result){
						if(result.status){
						    $("#salt_exe_result").empty();
                            var data_count = 0;
                            $.each(result.result,function (k,v) {
                                if($.isPlainObject(v)){
                                    $('#salt_exe_result').append("<p style='color: #45ddd4;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#salt_exe_result').append('\n\n');
                                }else if($.isArray(v)){
                                    $('#salt_exe_result').append("<p style='color: #45ddd4;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#salt_exe_result').append('\n\n');
                                }else{
                                    $('#salt_exe_result').append("<p style='color: #3FB8AF;font-weight: bold;'>"+k+":</p>");
                                    $('#salt_exe_result').append("<p style='padding-left: 25px;'>"+v+"</p>");
                                    $('#salt_exe_result').append('\n\n');
                                }
                            });
                            $btn.button('reset');
						}else {
						    $("#salt_exe_result").empty();
						    $('#salt_exe_result').html("<p style='color: #A00000;'>"+result.result+"</p>");
						    $btn.button('reset');
                        }
					}
				});
            });


            // 结果输出格式化 递归函数
            var result_fun = function (data,data_count) {
                if(!data) return;
                $.each(data,function(k,v){
                    if($.isPlainObject(v)){
                        $('#salt_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        result_fun(v,data_count+1)
                    }else if($.isArray(v)){
                        $('#salt_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        result_fun(v,data_count+1)
                    }else{
                        $('#salt_exe_result').append("<p style='color: #3FB8AF;padding-left: "+data_count*25+"px;'>"+k+":</p>");
                        $('#salt_exe_result').append("<p style='padding-left: "+(data_count+1)*25+"px;'>"+v+"</p>");
                    }
                });
            };

            
         // 查看异步任务状态执行状态
         $('.search_jid_status_btn').click(function () {
            var jid = $('#search_jid_status').val();
            if($.trim(jid).length == 0){
                $('#search_jid_status_help').html('jid为空，查询个屁啊');
                return false
            }
            var $btn = $(this).button('loading');
            $("#salt_exe_result").text("正在执行.....");
            $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'jid':jid,
                        'salt_exe_tag_key':'search_jid_status'
					},
					success:function(result){
						if(result.status){
						    $("#salt_exe_result").empty();
                            var data_count = 0;
                            // console.log(JSON.stringify(result.result));
                            $.each(result.result,function (k,v) {
                                if($.isPlainObject(v)){
                                    $('#salt_exe_result').append("<p style='color: #45ddd4;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#salt_exe_result').append('\n\n');
                                }else if($.isArray(v)){
                                    $('#salt_exe_result').append("<p style='color: #45ddd4;font-weight: bold;'>"+k+":</p>");
                                    result_fun(v,data_count+1);
                                    $('#salt_exe_result').append('\n\n');
                                }else{
                                    $('#salt_exe_result').append("<p style='color: #3FB8AF;font-weight: bold;'>"+k+":</p>");
                                    $('#salt_exe_result').append("<p style='padding-left: 25px;'>"+v+"</p>");
                                    $('#salt_exe_result').append('\n\n');
                                }
                            });
                            $btn.button('reset');
						}else {
						    $("#salt_exe_result").empty();
						    $('#salt_exe_result').html("<p style='color: #A00000;'>"+result.result+"</p>");
						    $btn.button('reset');
                        }
					}
				});
         });   
            

		});

    </script>
{% endblock %}

{% block panel-title_content %}Salt命令执行{% endblock %}

{% block panel_body_content %}

<div class="row-fluid ">
    <div class="col-xs-6 overflow_set">
        <div class="he10"></div>
        <div class="form-horizontal " role="form"  >
            <div class="form-group tgt_div" style="font-size: 15px;border: 1px #CCCCCC solid;border-radius: 5px;" >
				<label class="label label-info " style="font-size: 17px;">执行对象选择</label>
				<div class="he10"></div>
				<div class="container-fluid" style="font-size: 14px;">
					<div class="row-fluid">
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="any" checked>所有
							</label>
						 </div>
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="minion_list">Minion_ID
							</label>
						 </div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="pcre">Minion正则
							</label>
						</div>
						<div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="custom_group">自定义组
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="grain">Grain
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="grain_pcre">Grain正则
							</label>
						</div>
                        <div class="col-sm-3 col-md-3">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt"  value="ip_address">IP
							</label>
						</div>
						
					</div>
				</div>
				<div class="he10"></div>
                <div class="select_tgt_list select_tgt_minion_list_class hidden">
                    <label class="control-label col-sm-2 " >Minion_ID:</label>
                    <div class="panel panel-default col-sm-4" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="search_minion_id" placeholder="查询Minion_ID">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary search_minion_id_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                </span>

                            </div>
                        </div>
                        <select size=5  multiple class="form-control panel-body" id="search_select_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">
                        </select>
                    </div>

                    <div class="col-sm-1" style="padding: 0 10px 0 10px;">
                        <div style="margin-top: 30px;">
                            <button type="button" class="btn btn-xs btn-info " id="search_select_minion_id_btn" disabled="true">&gt;&gt;</button>
                            <button type="button" class="btn btn-xs btn-info " style="margin-top: 1px;" id="add_delete_minion_id_btn" disabled="true">&lt;&lt;</button>
                        </div>
                    </div>

                    <div class="panel panel-info col-sm-4" style="padding: 0;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <h3 class="panel-title " style="font-size: 12px;padding: 5px 10px;height: 30px;line-height: 1.5;">选中的Minion_ID 可多选</h3>
                        </div>
                        <select size=5 multiple class="form-control panel-body" id="search_selected_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                        </select>
                    </div>

                    <label class="control-label  " style="color: #FF0000;" >*</label>

                    <div class="col-sm-6 col-sm-offset-3">
                        <span id="minion_list_help" style="color: #FF0000;">　</span>
                </div>
                </div>
                <div class="select_tgt_list tgt_pcre_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_pcre">M正则:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_pcre"
                        style="font-size: 14px;"  required="required" placeholder="正则匹配minion id">
                        <span class="" id="tgt_pcre_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list select_tgt_custom_group_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_custom_group">Custom_group:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_custom_group"
                        style="font-size: 14px;"  required="required" value="自定义组功能开发中。。尽请等待">
                        <span class="" id="tgt_custom_group_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_grain_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_grain">Grain:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_grain"
                        style="font-size: 14px;"  required="required" >
                        <span class="" id="tgt_grain_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_grain_pcre_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_grain_pcre">Grain正则:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_grain_pcre"
                        style="font-size: 14px;"  required="required" >
                        <span class="" id="tgt_grain_pcre_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
                <div class="select_tgt_list tgt_ip_address_class hidden">
                    <label class="control-label col-sm-2 " for="tgt_ip_address">IP:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="tgt_ip_address"
                        style="font-size: 14px;"  required="required" placeholder="ip/ip段，例：192.168.1.1 or 192.168.1.0/24">
                        <span class="" id="tgt_ip_address_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>

			</div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="client_select">Client:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="client_select">
                        <option value="local">local</option>
                        <option value="local_async">local_async</option>
                        <option value="runner">runner</option>
                    </select>
                    <span class="" id="client_select_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label client_help" style="font-weight: normal;color: #3FB8AF;" >提示：等同命令行salt命令</label>
            </div>

            <div class="form-group ">
                <label class="control-label col-sm-2 " for="module_select">Module:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="module_select" list="module_datalist" />
                    <datalist id="module_datalist">
                        {% for data in data_list%}e
                        <option value='{{ data.salt_cmd_module }}'>{{ data.salt_cmd_module }}</option>
                        {% endfor %}
                    </datalist>
                    <span class="" id="cmodule_select_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;" >提示：选择模块,如已知晓命令可省略</label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="cmd_select">Fun:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cmd_select" list="cmd_datalist" />
                    <datalist id="cmd_datalist">
                    </datalist>
                    <span class="" id="cmd_select_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;margin-right: 10px;" >提示：选择要执行的命令</label>
                <button type="button" class="btn btn-info btn-sm" id="salt_cmd_doc" >命令帮助</button>
                <!--命令备注是用来查询这个命令自定义备注的，不过后面想想先不加我下有介绍例子感觉，例子应该够了-->
                <!--<button type="button" class="btn btn-info btn-sm" id="salt_cmd_description" >命令备注</button>-->
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="arg_data">Arg:</label>
                <div class="col-sm-7">
                    <input type="text"  class="form-control" id="arg_data" >
                    <span class="" id="arg_data_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;" >提示：输入参数</label>
            </div>

            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-success " id="salt_exe_sumbit" data-loading-text="正在执行...">执行命令</button>
            </div>


            <div class="form-group col-sm-12 async_select_div" style="font-size: 15px;border: 1px #CCCCCC solid;border-radius: 5px;padding: 0;" >
				<label class="label label-info " style="font-size: 17px;">异步任务查询快速通道</label>
				<div class="he10"></div>
				<div class="container-fluid" style="font-size: 14px;">
					<div class="row-fluid">
						<div class="form-group">
                            <label class="control-label col-sm-2 " for="search_jid_status">任务状态查询:</label>
                            <div class="col-sm-5" style="padding-right: 0;">
                                <div class=" input-group">
                                    <input type="text"  class="form-control" id="search_jid_status" placeholder="输入要查询的jid">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary search_jid_status_btn" data-loading-text="正在执行..."><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label  col-sm-4" style="font-weight: normal;color: #3FB8AF;text-align: left;" >提示：结果为[{}]说明任务执行完成</label>
                            <span class=" col-sm-12" id="search_jid_status_help" style="color: #FF0000;">　</span>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-2 " for="search_jid_result">任务结果查询:</label>
                            <div class="col-sm-5" style="padding-right: 0;">
                                <div class=" input-group">
                                    <input type="text"  class="form-control" id="search_jid_result" placeholder="输入要查询的jid">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary search_jid_result_btn"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label  col-sm-4" style="font-weight: normal;color: #3FB8AF;text-align: left;" >提示：注意先确认任务是否执行完毕</label>
                            <span class=" col-sm-12" id="search_jid_result_help" style="color: #FF0000;">　</span>
                        </div>

					</div>
				</div>

			</div>

            <div class="form-group col-sm-12 ">
                <ul class="list-group">
                    <li class="list-group-item ">帮助1：Arg参数如多个参数则以英文连续双逗号“,,”隔开，主要是为了后台能正确处理，其写法与CLI下有所不同；
                        <br>&emsp;&emsp;&emsp;&nbsp;&nbsp;如 ps.proc_info 命令查看帮助可以看到命令行是这样的：
                        <br>&emsp;&emsp;&emsp;&nbsp;&nbsp;salt '*' ps.proc_info 2322 attrs='["pid", "name"]'参数是：2322 attrs='["pid", "name"]'
                        <br>&emsp;&emsp;&emsp;&nbsp;&nbsp;而在这里则需要写成：
                        <br>&emsp;&emsp;&emsp;&nbsp;&nbsp;pid=11932,,attrs=["cmdline","pid","name"] # 注意内部使用双引号</li>
                    <li class="list-group-item">帮助2：Module其实就是命令Fun中“.”前面的内容，选择正确的Module在Fun填写时可以给出友好的提示。</li>
                    <li class="list-group-item">帮助9：由于采用API调用方式，如执行对象不存在或断线则不会出现结果，返回结果为空。</li>
                </ul>
            </div>
            <!--<div class="form-group col-sm-12 alert alert-success ">-->
                <!--<p>帮助9：由于采用API调用方式，如执行对象不存在或断线则不会出现结果，返回结果为空。</p>-->
            <!--</div>-->
        </div>

    </div>
    <div class="form-group col-xs-6 overflow_result" style="padding-top: 5px;">
        <label class="label label-danger " style="font-size: 17px;">结果打印</label>
        <!-- 结果打印 -->
        <!-- 下面这个列数cols弄100%比较大，高度我用h45来按浏览器调整，style是禁止拉伸 -->
        <!--注意如果使用标签textarea的字体一定要设置等宽字体，因为普通的字体在输出的时候无法和在linux下面一样，想要输出程序代码的
        原样，最好用等宽字体，不用你自己看下有多难看就知道这里用了font-family: monospace;自带的等宽字体-->
        <!--最后我发现可以直接用pre标签这个标签可以完美的输出后端代码的格式哈哈不过换行和滚动条还是要加在上面的style里-->
        <pre class="form-control "  id="salt_exe_result"  style="font-size:15px;resize:none;line-height:100%;height: 100%;margin-top: 4px;background-color:#000;color:#47c032;"></pre>
    </div>
</div>


{% endblock %}

{% block another_content %}
<!--使用帮助模态框-->
<div class="modal fade juzhong" id="salt_cmd_doc_modal" tabindex="-1" role="dialog" aria-labelledby="salt_cmd_doc_lable" aria-hidden="true" >
	<div class="modal-dialog" style="width: 780px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="salt_cmd_doc_lable">
					<span class="salt_cmd_name"></span>使用帮助
				</h4>

			</div>
			<div class="modal-body" style="padding-bottom:0;">
                <div class="form-group" style="height:630px;">
                    <pre class="form-control " id="salt_cmd_doc_info"   style="resize:none;font-weight: bold;line-height:100%;height: 100%;margin-top: 4px;background-color:#000;color:#00B600;"></pre>
                </div>

			</div>
			<div class="modal-footer" style="padding: 5px 15px 5px 0;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
					确认
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

{% endblock %}