{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Salt命令执行{% endblock %}
{% block custom_css %}
	<style type="text/css">
        .he10{
			height: 10px;
		}
        .he20{
			height: 20px;
		}

        /*添加扫描表单滚动*/
        .overflow_set{
        	overflow: auto;
        }
		/*pre标签不会自动换行第二个是换行，第一个是滚动条*/
		#result1 {
            overflow-y: auto;
            white-space: pre-wrap;
        }
    </style>

{% endblock %}

{% block custom_js %}
<script>
    	$(function(){

    	    //minion_client_install页面输入框改变清空提示信息
			$('#server_ip').keyup(function(){
	    		$('#server_ip_help').text('*');
	    	});
			$('#server_username').keyup(function(){
	    		$('#server_username_help').text('*');
	    	});
	    	$('#server_password').keyup(function(){
	    		$('#server_password_help').text('*');
	    	});

    	    // 响应式调整页面高度
    		$(window).resize(function() {
    		    // 结果打印框pre高度不然默认是没高度的
	        	$('.overflow_result').css(
	        		"height",$('.hall').height()*0.8);

                // 扫描的输入表单单独适应窗口高度，不然如果以后我添加更多的扫描东西越来越长的时候会出现
                // 整个右侧栏出现滚动条，我这样设置以后只会扫描表单那一块出现滚动，而不会然右边的结果框出现滚动条
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.85);
            });
    		$(window).resize();

			// // {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });


			// 执行对象选择触发输入框的隐藏显示
			$('input[name="select_tgt"]').click(function () {
               if($.trim($(this).val())=="any"){
                   $('.select_tgt_list').addClass('hidden');
               }
               else if($.trim($(this).val())=="minion_list"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_minion_list').removeClass('hidden');
                   $('#add_search_minion_id').focus();
               }
               else if($.trim($(this).val())=="grain"){
                   $('.select_tgt_list').addClass('hidden');
                   $('.select_tgt_grain').removeClass('hidden');
                   $('#select_minion_grain').focus();
               }
               else if($.trim($(this).val())=="映像名称和命令行"){
                   $('.add_server_stop_cmd').attr('placeholder',"格式:映像名称 | 命令行 忽略windows命令行中的冒号");
               }
               else if($.trim($(this).val())=="supervisor_stop"){
                   $('.add_server_stop_cmd').attr('placeholder',"填写supervisor守护程序名");
               }
            });

//          查找minion_id 后期要准备些一个公共的view方法存这个经常用到查询minion的调用，不然每次都要在views.py写一遍
            $('.add_search_minion_id_btn').click(function(){
                 $('#add_select_minion_id').empty();
                 var minion_id=$.trim($('#add_search_minion_id').val());
                 var selected_minion_id=$('#add_selected_minion_id option');

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'minion_id':minion_id,
                        'salt_exe_tag_key':'modal_search_minion_id'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#add_select_minion_id");
                                selected_minion_id.each(function () {
                                    if($(this).val()==content){
                                        $("#add_select_minion_id option[value='" +content+ "']").remove();
                                    }
                                });
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});

//          minion_id选中 操作触发中间的》按钮可用
            $("#add_select_minion_id").click(function () {
                var minion_id_list=$('#add_select_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0){
                    $("#add_select_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id选中 操作触发中间的《按钮可用
            $("#add_selected_minion_id").click(function () {
                var minion_id_list=$('#add_selected_minion_id option:selected').map(function(){return $(this).val();}).get().join(",");
                if(minion_id_list.length != 0) {
                    $("#add_delete_minion_id_btn").attr("disabled",false);
                }
            });

//          minion_id》按钮触发选中值移动到右边
            $("#add_select_minion_id_btn").click(function () {
//                在这里触发清空如果没选择minion_id的错误提示,嘿嘿
                $('#add_minion_id_help').text('　');
                $("#add_select_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#add_selected_minion_id");
                    $(this).remove();
                    $("#add_select_minion_id_btn").attr("disabled",true);
                })
            });

//          minion_id《按钮触发选中值移动到左边
            $("#add_delete_minion_id_btn").click(function () {
                $("#add_selected_minion_id option:selected").each(function () {
                    $("<option value='"+$.trim($(this).val())+"'>"+$.trim($(this).text())+"</option>").appendTo("#add_select_minion_id");
                    $(this).remove();
                    $("#add_delete_minion_id_btn").attr("disabled",true);
                })
            });

//          client下拉框触发文本框提示内容改变
	        $('#client_select').change(function(){
	         	if($(this).val()=='local'){
	         		$('.client_help').text('提示：等同命令行salt命令');
	         		$('.tgt_div').removeClass('hidden');
	         	}else if($(this).val()=='local_async'){
	         	    $('.client_help').text('提示：等同命令行salt --async异步命令');
	         	    $('.tgt_div').removeClass('hidden');
	         	}else if($(this).val()=='runner'){
	         		$('.client_help').text('提示：等同命令行salt-run命令,salt-run不需要执行对象参数');
	         		$('.tgt_div').addClass('hidden');
	         	}
			});

	     //   module选择框改变，触发Fun选择框填充命令
            $('#module_select').blur(function () {
                var client = $('#client_select').val();
                if(client == 'local' || client == 'local_async'){
                    var salt_cmd_type = 'module';
                }else if(client == 'runner'){
                    var salt_cmd_type = 'runner';
                }
                var salt_cmd_module =  $("#module_select").val();
                $.ajax({
					url:"{% url 'salt_exe_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
					    'salt_cmd_type':salt_cmd_type,
                        'salt_cmd_module':salt_cmd_module,
                        'salt_exe_tag_key':'search_salt_cmd'
					},
					success:function(result){
						if(result.status){
						    $("#cmd_datalist").empty();
						    $.each(result.result,function (index,content) {
						        $("<option value='"+content+"'>"+content+"</option>").appendTo("#cmd_datalist");
                            })
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
            });

		});

    </script>
{% endblock %}

{% block panel-title_content %}Salt命令执行{% endblock %}

{% block panel_body_content %}

<div class="row-fluid ">
    <div class="col-xs-6 overflow_set">
        <div class="he10"></div>
        <div class="form-horizontal " role="form"  >
            <div class="form-group tgt_div" style="font-size: 15px;border: 1px #CCCCCC solid;border-radius: 5px;" >
				<label class="label label-info " style="font-size: 17px;">执行对象选择</label>
				<div class="he10"></div>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox0" value="any" checked>所有
							</label>
						 </div>
						<div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox1" value="minion_list">Minion_ID
							</label>
						 </div>
						<div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox2" value="custom_group">自定义组
							</label>
						</div>
                        <div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox3" value="grain">Grain
							</label>
						</div>
                        <div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox4" value="ip_address">IP
							</label>
						</div>
						<div class="col-sm-2 col-md-2">
							<label class="radio-inline" >
								<input type="radio" name="select_tgt" id="inlineCheckbox5" value="regular">正则
							</label>
						</div>
					</div>
				</div>
				<div class="he10"></div>
                <div class="select_tgt_list select_tgt_minion_list hidden">
                    <label class="control-label col-sm-2 " >Minion_ID:</label>
                    <div class="panel panel-default col-sm-4" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="add_search_minion_id" placeholder="查询Minion_ID">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary add_search_minion_id_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                </span>

                            </div>
                        </div>
                        <select size=5  multiple class="form-control panel-body" id="add_select_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">
                        </select>
                    </div>

                    <div class="col-sm-1" style="padding: 0 10px 0 10px;">
                        <div style="margin-top: 30px;">
                            <button type="button" class="btn btn-xs btn-info " id="add_select_minion_id_btn" disabled="true">&gt;&gt;</button>
                            <button type="button" class="btn btn-xs btn-info " style="margin-top: 1px;" id="add_delete_minion_id_btn" disabled="true">&lt;&lt;</button>
                        </div>
                    </div>

                    <div class="panel panel-info col-sm-4" style="padding: 0;margin-bottom: 0;">
                        <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                            <h3 class="panel-title " style="font-size: 12px;padding: 5px 10px;height: 30px;line-height: 1.5;">选中的Minion_ID 可多选</h3>
                        </div>
                        <select size=5 multiple class="form-control panel-body" id="add_selected_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                        </select>
                    </div>

                    <label class="control-label  " style="color: #FF0000;" >*</label>

                    <div class="col-sm-6 col-sm-offset-3">
                        <span id="add_minion_id_help" style="color: #FF0000;">　</span>
                </div>
                </div>
                <div class="select_tgt_list select_tgt_grain hidden">
                    <label class="control-label col-sm-2 " for="select_minion_grain">Grain:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="select_minion_grain"
                        style="font-size: 14px;"  required="required" >
                        <span class="" id="add_app_path_help" style="color: #FF0000;">　</span>
                    </div>
                    <label class="control-label  " style="color: #FF0000;" >*</label>
                </div>
			</div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="client_select">Client:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="client_select">
                        <option value="local">local</option>
                        <option value="local_async">local_async</option>
                        <option value="runner">runner</option>
                    </select>
                </div>
                <label class="control-label client_help" style="font-weight: normal;color: #3FB8AF;" >提示：等同命令行salt命令</label>
            </div>

            <div class="form-group ">
                <label class="control-label col-sm-2 " for="module_select">Module:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="module_select" list="module_datalist" />
                    <datalist id="module_datalist">
                        {% for data in data_list%}e
                        <option value='{{ data.salt_cmd_module }}'>{{ data.salt_cmd_module }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;" >提示：选择模块</label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="cmd_select">Fun:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="cmd_select" list="cmd_datalist" />
                    <datalist id="cmd_datalist">
                    </datalist>
                </div>
                <label class="control-label  " style="font-weight: normal;color: #3FB8AF;" >提示：选择要执行的命令</label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="add_app_svn_user">SVN账户:</label>
                <div class="col-sm-8">
                    <input type="text" name="user_no" class="form-control" id="add_app_svn_user"
                       style="font-size: 14px;" autocomplete="off" required="required" >
                    <span class="" id="add_app_svn_user_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="color: #FF0000;" >*</label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="add_app_svn_password">SVN密码:</label>
                <div class="col-sm-8">
                    <!--防止自动填充-->
                    <input type="password" style="display:none;">
                    <input type="text" onfocus="this.type='password'" name="pwd_no" class="form-control" id="add_app_svn_password"
                       style="font-size: 14px;"  autocomplete="off"  required="required" >
                    <span class="" id="add_app_svn_password_help" style="color: #FF0000;">　</span>
                </div>
                <label class="control-label  " style="color: #FF0000;" >*</label>
            </div>
        </div>

    </div>
    <div class="form-group col-xs-6 overflow_result" style="padding-top: 5px;">
        <label class="label label-danger " style="font-size: 17px;">结果打印</label>
        <!-- 结果打印 -->
        <!-- 下面这个列数cols弄100%比较大，高度我用h45来按浏览器调整，style是禁止拉伸 -->
        <!--注意如果使用标签textarea的字体一定要设置等宽字体，因为普通的字体在输出的时候无法和在linux下面一样，想要输出程序代码的
        原样，最好用等宽字体，不用你自己看下有多难看就知道这里用了font-family: monospace;自带的等宽字体-->
        <!--最后我发现可以直接用pre标签这个标签可以完美的输出后端代码的格式哈哈不过换行和滚动条还是要加在上面的style里-->
        <pre class="form-control "  id="result1"  style="resize:none;font-weight: bold;line-height:100%;height: 100%;margin-top: 4px;background-color:#000;color:#00B600;"></pre>
    </div>
</div>


{% endblock %}

{% block another_content %}
<!-- 模态框 -->
<div class="modal fade juzhong" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					IP：192.168.126.154
				</h4>
			</div>
			<div class="modal-body">
				在这里添加一些文本
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{% endblock %}