{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主机列表{% endblock %}
{% block custom_css %}
	<style type="text/css">

        /*设置表格的宽度固定，不会因为内容过长而出现换行*/
        table{
            table-layout:fixed;
        }
        /*设置表格内容过长出现滚动条*/
        /*td{*/
            /*overflow:auto;*/
            /*text-overflow:clip;white-space:nowrap;*/
        /*}*/

        tbody tr:hover{
        background-color:#9b9b9b !important;
            color: #000;
        }
        /*让列表内的信息上下居中,默认是换行的，但是词内默认没换行要设置word-break实现词内换行*/
        td{
            vertical-align:middle !important;
            text-align: center;
            word-break:break-all;
        }

        th{
            text-align: center;
        }

        /*添加表单滚动*/
        .overflow_set{
        	overflow: auto;
        }
    </style>

{% endblock %}

{% block custom_js %}
<script>
    	$(function() {

    	    // 响应式调整页面高度
    		$(window).resize(function() {

                // 表单的大小自适应窗口，不能设置100%，因为除了表单以外其他东西也会占用高度
                $('.overflow_set').css(
                    "height", $('.hall').height() * 0.9);
            });
    		$(window).resize();

//    	    复选框选中操作
            /*“全选/反选”复选框*/
                $('#checkAll').click(function(event){
                    /*将所有行的选中状态设成全选框的选中状态*/
                    $('input[name="checkItem"]').prop('checked',$(this).prop('checked'));
                    /*并调整所有选中行的CSS样式*/
                    if ($(this).prop('checked')) {
                        $('input[name="checkItem"]').parent().parent().addClass('warning');
                    } else{
                        $('input[name="checkItem"]').parent().parent().removeClass('warning');
                    }
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击全选框所在单元格时也触发全选框的点击操作*/
                var $checkAllTh = $('#checkAll').parent();
                $checkAllTh.click(function(){
                    $('#checkAll').click();
                });

                /*点击每一行的选中复选框时*/
                var $tbr = $('table tbody tr');
                $('input[name="checkItem"]').click(function(event){
                    /*调整选中行的CSS样式*/
                    $(this).parent().parent().toggleClass('warning');
                    /*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
                    $('#checkAll').prop('checked',$('input[name="checkItem"]:checked').length == $tbr.length ? true : false);
                    /*阻止向上冒泡，以防再次触发点击操作*/
                    event.stopPropagation();
                });
                /*点击复选框的父框也触发选中*/
                $('input[name="checkItem"]').parent().click(function(){
                    $(this).find('input').click();
                });

//           bootstrap的提示工具jq
            $("[data-toggle='tooltip']").tooltip();


//            分页页面跳转
            $('.page_go').click(function () {
                window.location.href = window.location.href.split("?")[0]+'?search_field='+'{{ search_field }}'+'&search_content='+'{{ search_content }}'+'&page='+$("#page_index").val();
            });

//            查询按钮事件
            $('.search_btn').click(function () {
               var search_field = $('#search_field').val();
               var search_content = $('#search_content').val();
               window.location.href=window.location.href.split("?")[0]+'?search_field='+search_field+'&search_content='+search_content;
            });

//            搜索框回车触发查询按钮事件
            $("#search_content").keydown(function (e) {
                if (e.keyCode == 13) {
                    $('.search_btn').click();
                }
            });

//            添加主机模态框 打开后获取焦点的框，注意模态框获取焦点必须单独在模态框shown事件中写才有效
            $('#add_server_list_modal').on('shown.bs.modal', function () {
                $("#add_server_name").focus();
            });


//           添加主机模态框 隐藏时数据清除,更新编辑也是共用这个模态框
            $("#add_server_list_modal").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
//                select恢复原状挺麻烦的，我这用最蠢的清空掉2个select然后重新添加。。
                $('#add_server_name').val('');
                $("input[name='add_server_type']").eq(0).click();
                $('#add_localhost').val('');
                $('#add_ip').val('');
                $("input[name='add_sys_type']").eq(0).click();
                $('#add_system_issue').val('');
                $('#add_search_minion_id').val('');
				$('#add_radio_minion_id').empty();
				$('#add_sn').val('');
				$('#add_cpu_num').val('');
				$('#add_cpu_model').val('');
				$('#add_kernel').val('');
				$('#add_product_name').val('');
                $('#add_ipv4_address').val('');
                $('#add_mac_address').val('');
                $('#add_mem_total').val('');
                $('#add_mem_explain').val('');
                $('#add_disk_total').val('');
                $('#add_disk_explain').val('');
                $('#add_idc_name').val('');
                $('#add_idc_num').val('');
                $('#add_login_ip').val('');
                $('#add_login_port').val('');
                $('#add_login_user').val('');
                $('#add_login_password').val('');
				$('#add_description').val('');


				$('#add_server_name_help').text('　');
				$('#add_localhost_help').text('　');
                $('#add_ip_help').text('　');
                $('#add_system_issue_help').text('　');
				$('#add_minion_id_help').text('　');
				$('#add_sn_help').text('　');
				$('#add_cpu_num_help').text('　');
				$('#add_cpu_model_help').text('　');
				$('#add_kernel_help').text('　');
				$('#add_product_name_help').text('　');
				$('#add_ipv4_address_help').text('　');
				$('#add_mac_address_help').text('　');
				$('#add_mem_total_help').text('　');
				$('#add_mem_explain_help').text('　');
                $('#add_disk_total_help').text('　');
                $('#add_disk_explain_help').text('　');
                $('#add_idc_name_help').text('　');
                $('#add_idc_num_help').text('　');
                $('#add_login_ip_help').text('　');
                $('#add_login_port_help').text('　');
                $('#add_login_user_help').text('　');
                $('#add_login_password_help').text('　');
				$('#add_description_help').text('　');

            });

//           应用发布模态框 错误提示恢复
            $('#add_server_name').keyup(function(){
	    		$('#add_server_name_help').text('　');
	    	});
            $('#add_localhost').keyup(function(){
	    		$('#add_localhost_help').text('　');
	    	});
            $('#add_ip').keyup(function(){
	    		$('#add_ip_help').text('　');
	    	});
            $('#add_system_issue').keyup(function(){
	    		$('#add_system_issue_help').text('　');
	    	});
            $('#add_minion_id').keyup(function(){
	    		$('#add_minion_id_help').text('　');
	    	});
            $('#add_sn').keyup(function(){
	    		$('#add_sn_help').text('　');
	    	});
            $('#add_cpu_num').keyup(function(){
	    		$('#add_cpu_num_help').text('　');
	    	});
            $('#add_cpu_model').keyup(function(){
	    		$('#add_cpu_model_help').text('　');
	    	});
            $('#add_kernel').keyup(function(){
	    		$('#add_kernel_help').text('　');
	    	});
            $('#add_product_name').keyup(function(){
	    		$('#add_product_name_help').text('　');
	    	});
            $('#add_ipv4_address').keyup(function(){
	    		$('#add_ipv4_address_help').text('　');
	    	});
            $('#add_mac_address').keyup(function(){
	    		$('#add_mac_address_help').text('　');
	    	});
            $('#add_mem_total').keyup(function(){
	    		$('#add_mem_total_help').text('　');
	    	});
            $('#add_mem_explain').keyup(function(){
	    		$('#add_mem_explain_help').text('　');
	    	});
            $('#add_disk_total').keyup(function(){
	    		$('#add_disk_total_help').text('　');
	    	});
            $('#add_disk_explain').keyup(function(){
	    		$('#add_disk_explain_help').text('　');
	    	});
            $('#add_idc_name').keyup(function(){
	    		$('#add_idc_name_help').text('　');
	    	});
            $('#add_idc_num').keyup(function(){
	    		$('#add_idc_num_help').text('　');
	    	});
            $('#add_login_ip').keyup(function(){
	    		$('#add_login_ip_help').text('　');
	    	});
            $('#add_login_port').keyup(function(){
	    		$('#add_login_port_help').text('　');
	    	});
            $('#add_login_user').keyup(function(){
	    		$('#add_login_user_help').text('　');
	    	});
            $('#add_login_password').keyup(function(){
	    		$('#add_login_password_help').text('　');
	    	});
            $('#add_description').keyup(function(){
	    		$('#add_description_help').text('　');
	    	});


            // // {#  django 跨站验证需要下面的 ajaxSetup   #}
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });

//          点击页面添加主机按钮时，隐藏模态框提交更新的按钮
            $('.add_server_list_btn').click(function () {
                $("#add_server_list_submit").removeClass("hidden");
                $("#update_server_list_submit").addClass("hidden");
                $("#clone_server_list_submit").addClass("hidden");
                $('#server_list_add_lable').html('新增主机');
                $("#add_server_name").removeAttr("readonly");
            });

//    	    新增主机和编辑主机模态框里系统类型切换操作
            $('.add_sys_type').click(function () {
               $("#add_radio_minion_id").empty();
            });

//            添加主机模态框，查找minion_id,按系统类型和minion_id来查询minion
             $('.add_search_minion_id_btn').click(function(){
                 $('#add_radio_minion_id').empty();
                 var minion_id=$.trim($('#add_search_minion_id').val());
                 var sys_type=$("input[name='add_sys_type']:checked").val();

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'server_list_ajax' %}",
					type:'GET',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
					data:{
                        'minion_id':minion_id,
                        'sys_type':sys_type,
                        'server_list_tag_key':'modal_search_minion_id'
					},
					success:function(result){
						if(result.status){
						    $.each(result.result, function (index,content) {
                                $("<label><input type='radio' name='radio_minion_id'  value='"+content+"'> "+content+"</label><br>").appendTo("#add_radio_minion_id");
                                $("input[name='radio_minion_id']:first").attr("checked",true);
						    });
						}else {
						    toastr.error(result.result,'error',{timeOut: 1500});
                        }
					}
				});
			});



//           添加主机模态框 点击克隆按钮事件
            $("#clone_server_list_submit").click(function () {
                $("#clone_server_list_submit").addClass("hidden");
                $("#add_server_list_submit").removeClass("hidden");
                $("#update_server_list_submit").addClass("hidden");
                $('#server_list_add_lable').html('新增主机');
                $("#add_server_name").removeAttr("readonly");
                $("#add_server_name").focus();
                $("#add_server_name_help").html('请修改服务器名称');
            });



//          新增主机表单提交
            $('#add_server_list_submit').click(function(){
                var server_name = $.trim($('#add_server_name').val());
                var server_type = $("input[name='add_server_type']:checked").val();
                var localhost = $.trim($('#add_localhost').val());
                var ip = $.trim($('#add_ip').val());
                var system_issue = $.trim($('#add_system_issue').val());
                var sn = $.trim($('#add_sn').val());
                var cpu_num = $.trim($('#add_cpu_num').val());
                var cpu_model = $.trim($('#add_cpu_model').val());
				var sys_type = $("input[name='add_sys_type']:checked").val();
                var kernel = $.trim($('#add_kernel').val());
                var product_name = $.trim($('#add_product_name').val());
                var ipv4_address = $.trim($('#add_ipv4_address').val());
                var mac_address = $.trim($('#add_mac_address').val());
                var mem_total = $.trim($('#add_mem_total').val());
                var mem_explain = $.trim($('#add_mem_explain').val());
                var disk_total = $.trim($('#add_disk_total').val());
                var disk_explain = $.trim($('#add_disk_explain').val());
				var minion_id = $("input[name='radio_minion_id']:checked").val();
                var idc_name = $.trim($('#add_idc_name').val());
                var idc_num = $.trim($('#add_idc_num').val());
                var login_ip = $.trim($('#add_login_ip').val());
                var login_port = $.trim($('#add_login_port').val());
				var login_user = $.trim($('#add_login_user').val());
				var login_password = $.trim($('#add_login_password').val());
				var description = $.trim($('#add_description').val());

                //提交之前清空密码框防止提示保存密码
                $('#add_login_password').val("");

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'server_list_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
//                    由于有密码字段要加下面的cache不然老提示保存密码
                    cache:false,
					data:{
					    'server_name' : server_name,
                        'server_type' : server_type,
                        'localhost' : localhost,
                        'ip' : ip,
                        'system_issue' : system_issue,
                        'sn' : sn,
                        'cpu_num' : cpu_num,
                        'cpu_model' : cpu_model,
                        'sys_type' : sys_type,
                        'kernel' : kernel,
                        'product_name' : product_name,
                        'ipv4_address' : ipv4_address,
                        'mac_address' : mac_address,
                        'mem_total' : mem_total,
                        'mem_explain' : mem_explain,
                        'disk_total' : disk_total,
                        'disk_explain' : disk_explain,
                        'minion_id' : minion_id,
                        'idc_name' : idc_name,
                        'idc_num' : idc_num,
                        'login_ip' : login_ip,
                        'login_port' : login_port,
                        'login_user' : login_user,
                        'login_password' : login_password,
                        'description' : description,
                        'server_list_tag_key':'add_server_list'

					},
					success:function(result){
						if(result.status){
                            $('#add_server_list_modal').modal('toggle');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
//						    通过表单验证返回的错误是多层嵌套字典加列表，一层key是对应提交数据的key，二层有2个key一个是code一个是message，错误信息在message里
						    $.each(result.result, function (k,v) {
//						        把错误信息插入到对应的错误help位子
                                $('#add_'+k+'_help').text(v[0].message);
                            });
						    // 如果提交失败要把提交前清空的密码框填充回去
						    $('#add_login_password').val(login_password);
                           // console.log(JSON.stringify(result.result));
                        }
					}
				});

			});


//            查看应用明细
            $('.view_detail').click(function () {
                //  隐藏新增按钮和显示更新按钮的显示
                $("#add_server_list_submit").addClass("hidden");
                $("#update_server_list_submit").addClass("hidden");
                $("#clone_server_list_submit").addClass("hidden");
                // 模态框标题修改
                $('#server_list_add_lable').html('查看主机信息');

                $('#add_server_name').val($.trim($(this).parent().siblings('.data_server_name').html()));
                $("#add_server_name").attr('readonly','readonly');

                var view_server_type = $(this).parent().siblings('.data_server_type').html();
                if(view_server_type=='虚拟机'){
                    $("input[name='add_server_type']").eq(1).click();
                }else{
                    $("input[name='add_server_type']").eq(0).click();
                }

                $('#add_localhost').val($.trim($(this).parent().siblings('.data_localhost').html()));
                $('#add_ip').val($.trim($(this).parent().siblings('.data_ip').html()));

                var view_sys_data = $(this).parent().siblings('.data_sys_type').html();
                if(view_sys_data=='windows'){
                    $("input[name='add_sys_type']").eq(1).click();
                }else{
                    $("input[name='add_sys_type']").eq(0).click();
                }


                $('#add_system_issue').val($.trim($(this).parent().siblings('.data_system_issue').html()));
                $('#add_search_minion_id').val('');
				if($(this).parent().siblings('.data_minion_id').html()){
                    var minion_id = $(this).parent().siblings('.data_minion_id').html();
                    $("<label><input type='radio' name='radio_minion_id'  value='"+minion_id+"' checked> "+minion_id+"</label><br>").appendTo("#add_radio_minion_id");
                }
				$('#add_sn').val($.trim($(this).parent().siblings('.data_sn').html()));
				$('#add_cpu_num').val($.trim($(this).parent().siblings('.data_cpu_num').html()));
				$('#add_cpu_model').val($.trim($(this).parent().siblings('.data_cpu_model').html()));
				$('#add_kernel').val($.trim($(this).parent().siblings('.data_kernel').html()));
				$('#add_product_name').val($.trim($(this).parent().siblings('.data_product_name').html()));
                $('#add_ipv4_address').val($.trim($(this).parent().siblings('.data_ipv4_address').html()));
                $('#add_mac_address').val($.trim($(this).parent().siblings('.data_mac_address').html()));
                $('#add_mem_total').val($.trim($(this).parent().siblings('.data_mem_total').html()));
                $('#add_mem_explain').val($.trim($(this).parent().siblings('.data_mem_explain').html()));
                $('#add_disk_total').val($.trim($(this).parent().siblings('.data_disk_total').html()));
                $('#add_disk_explain').val($.trim($(this).parent().siblings('.data_disk_explain').html()));
                $('#add_idc_name').val($.trim($(this).parent().siblings('.data_idc_name').html()));
                $('#add_idc_num').val($.trim($(this).parent().siblings('.data_idc_num').html()));
                $('#add_login_ip').val($.trim($(this).parent().siblings('.data_login_ip').html()));
                $('#add_login_port').val($.trim($(this).parent().siblings('.data_login_port').html()));
                $('#add_login_user').val($.trim($(this).parent().siblings('.data_login_user').html()));
                $('#add_login_password').val($.trim($(this).parent().siblings('.data_login_password').html()));
				$('#add_description').val($.trim($(this).parent().siblings('.data_description').html()));
            });


//            编辑按钮触发内容填充模态框
            $('.edit_detail').click(function () {
                //  隐藏新增按钮和显示更新按钮的显示
                $("#add_server_list_submit").addClass("hidden");
                $("#update_server_list_submit").removeClass("hidden");
                $("#clone_server_list_submit").removeClass("hidden");
                // 模态框标题修改
                $('#server_list_add_lable').html('编辑主机信息');

                $('#add_server_name').val($.trim($(this).parent().siblings('.data_server_name').html()));
                $("#add_server_name").attr('readonly','readonly');

                var view_server_type = $(this).parent().siblings('.data_server_type').html();
                if(view_server_type=='虚拟机'){
                    $("input[name='add_server_type']").eq(1).click();
                }else{
                    $("input[name='add_server_type']").eq(0).click();
                }

                $('#add_localhost').val($.trim($(this).parent().siblings('.data_localhost').html()));
                $('#add_ip').val($.trim($(this).parent().siblings('.data_ip').html()));

                var view_sys_data = $(this).parent().siblings('.data_sys_type').html();
                if(view_sys_data=='windows'){
                    $("input[name='add_sys_type']").eq(1).click();
                }else{
                    $("input[name='add_sys_type']").eq(0).click();
                }


                $('#add_system_issue').val($.trim($(this).parent().siblings('.data_system_issue').html()));
                $('#add_search_minion_id').val('');
				if($(this).parent().siblings('.data_minion_id').html()){
                    var minion_id = $(this).parent().siblings('.data_minion_id').html();
                    $("<label><input type='radio' name='radio_minion_id'  value='"+minion_id+"' checked> "+minion_id+"</label><br>").appendTo("#add_radio_minion_id");
                }
				$('#add_sn').val($.trim($(this).parent().siblings('.data_sn').html()));
				$('#add_cpu_num').val($.trim($(this).parent().siblings('.data_cpu_num').html()));
				$('#add_cpu_model').val($.trim($(this).parent().siblings('.data_cpu_model').html()));
				$('#add_kernel').val($.trim($(this).parent().siblings('.data_kernel').html()));
				$('#add_product_name').val($.trim($(this).parent().siblings('.data_product_name').html()));
                $('#add_ipv4_address').val($.trim($(this).parent().siblings('.data_ipv4_address').html()));
                $('#add_mac_address').val($.trim($(this).parent().siblings('.data_mac_address').html()));
                $('#add_mem_total').val($.trim($(this).parent().siblings('.data_mem_total').html()));
                $('#add_mem_explain').val($.trim($(this).parent().siblings('.data_mem_explain').html()));
                $('#add_disk_total').val($.trim($(this).parent().siblings('.data_disk_total').html()));
                $('#add_disk_explain').val($.trim($(this).parent().siblings('.data_disk_explain').html()));
                $('#add_idc_name').val($.trim($(this).parent().siblings('.data_idc_name').html()));
                $('#add_idc_num').val($.trim($(this).parent().siblings('.data_idc_num').html()));
                $('#add_login_ip').val($.trim($(this).parent().siblings('.data_login_ip').html()));
                $('#add_login_port').val($.trim($(this).parent().siblings('.data_login_port').html()));
                $('#add_login_user').val($.trim($(this).parent().siblings('.data_login_user').html()));
                $('#add_login_password').val($.trim($(this).parent().siblings('.data_login_password').html()));
				$('#add_description').val($.trim($(this).parent().siblings('.data_description').html()));

            });


//          编辑应用更新按钮触发提交更新
            $('#update_server_list_submit').click(function(){
                var server_name = $.trim($('#add_server_name').val());
                var server_type = $("input[name='add_server_type']:checked").val();
                var localhost = $.trim($('#add_localhost').val());
                var ip = $.trim($('#add_ip').val());
                var system_issue = $.trim($('#add_system_issue').val());
                var sn = $.trim($('#add_sn').val());
                var cpu_num = $.trim($('#add_cpu_num').val());
                var cpu_model = $.trim($('#add_cpu_model').val());
				var sys_type = $("input[name='add_sys_type']:checked").val();
                var kernel = $.trim($('#add_kernel').val());
                var product_name = $.trim($('#add_product_name').val());
                var ipv4_address = $.trim($('#add_ipv4_address').val());
                var mac_address = $.trim($('#add_mac_address').val());
                var mem_total = $.trim($('#add_mem_total').val());
                var mem_explain = $.trim($('#add_mem_explain').val());
                var disk_total = $.trim($('#add_disk_total').val());
                var disk_explain = $.trim($('#add_disk_explain').val());
				var minion_id = $("input[name='radio_minion_id']:checked").val();
                var idc_name = $.trim($('#add_idc_name').val());
                var idc_num = $.trim($('#add_idc_num').val());
                var login_ip = $.trim($('#add_login_ip').val());
                var login_port = $.trim($('#add_login_port').val());
				var login_user = $.trim($('#add_login_user').val());
				var login_password = $.trim($('#add_login_password').val());
				var description = $.trim($('#add_description').val());

                //提交之前清空密码框防止提示保存密码
                $('#add_login_password').val("");

//				如果是在js文件中那么下面的"{% url 'login' %}"无法使用，必须改成/login/真实目录不然找不到
				$.ajax({
					url:"{% url 'server_list_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
//                    由于有密码字段要加下面的cache不然老提示保存密码
                    cache:false,
					data:{
					    'server_name' : server_name,
                        'server_type' : server_type,
                        'localhost' : localhost,
                        'ip' : ip,
                        'system_issue' : system_issue,
                        'sn' : sn,
                        'cpu_num' : cpu_num,
                        'cpu_model' : cpu_model,
                        'sys_type' : sys_type,
                        'kernel' : kernel,
                        'product_name' : product_name,
                        'ipv4_address' : ipv4_address,
                        'mac_address' : mac_address,
                        'mem_total' : mem_total,
                        'mem_explain' : mem_explain,
                        'disk_total' : disk_total,
                        'disk_explain' : disk_explain,
                        'minion_id' : minion_id,
                        'idc_name' : idc_name,
                        'idc_num' : idc_num,
                        'login_ip' : login_ip,
                        'login_port' : login_port,
                        'login_user' : login_user,
                        'login_password' : login_password,
                        'description' : description,
                        'server_list_tag_key':'update_server_list'

					},
					success:function(result){
						if(result.status){
                            $('#add_server_list_modal').modal('toggle');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
//						    通过表单验证返回的错误是多层嵌套字典加列表，一层key是对应提交数据的key，二层有2个key一个是code一个是message，错误信息在message里
						    $.each(result.result, function (k,v) {
//						        把错误信息插入到对应的错误help位子
                                $('#add_'+k+'_help').text(v[0].message);
                            });
						    // 如果提交失败要把提交前清空的密码框填充回去
						    $('#add_login_password').val(login_password);
                           console.log(JSON.stringify(result.result));
                        }
					}
				});
			});


//            点击删除填充模态框
            $('.delete_server').click(function () {
                $('.hidden_server_name').val($(this).parent().siblings('.data_server_name').html());
            });


//            点击确定删除应用
            $('#delete_server_button').click(function(){
				var server_name=$.trim($('.hidden_server_name').val());
				$('#delete_server_modal').modal('toggle');
				$.ajax({
					url:"{% url 'server_list_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
//                    提交的数据要和后台form验证的变量一致，不过可以多出来，只要验证的有就行，比如这里就多了project_tag_key
					data:{
                        'server_name':server_name,
                        'server_list_tag_key':'delete_server_list'

					},
					success:function(result){
						if(result.status){
                            $('.loading_modal').modal('toggle');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
						    $('.loading_modal').modal('toggle');
						    toastr.error(result.result,'Error',{timeOut: 1500});
                        }
					}
				});
			});


            //点击选择文件，清除help提示框
            $('#server_list_file').click(function () {
                $('#server_list_file_help').text('　');
            });

            // 上传文件事件
            $('#import_server_list_submit').click(function () {
                var server_list_cover_select = '';
                 // 上传文件要先设置一个FormData对象来做的，因为它可以接受二进制文件上传
                var file_data = new FormData();
                var file_info =$( '#server_list_file')[0].files[0];
                // 下面其实就是新增一个key是file，value是file_info的字典对象，传到后方就是获取的名称file
                file_data.append('file',file_info);
                // csrf跨站安全需要加入，不然会报错
                file_data.append('csrfmiddlewaretoken',"{{ csrf_token }}");
                if(file_info==undefined){
                    $('#server_list_file_help').text('你没有选择任何文件');
                    return false
                }
                if($('#server_list_cover_select').is(':checked')){
                    server_list_cover_select = 'cover';
                }else {
                    server_list_cover_select = 'uncover';
                }
                file_data.append('server_list_cover_select',server_list_cover_select);
                file_data.append('server_list_tag_key','import_server_list');
                $.ajax({
					url:"{% url 'server_list_ajax' %}",
					type:'POST',
					dataType:'json',
                    //如果数据是列表即数组的话要加下面这个traditional不然传不过去
					traditional:true,
                    //提交的数据要和后台form验证的变量一致，不过可以多出来，只要验证的有就行，比如这里就多了project_tag_key
					data:file_data,
                    // 上传文件需要加下面2个来使http能正确传输文件
                    processData: false,
                    contentType: false,
					success:function(result){
						if(result.status){
                            $('.loading_modal').modal('toggle');
                            toastr.success(result.result,'Success',{timeOut: 1500});
                            setTimeout(function(){window.location.href=window.location.href}, 1000);
						}else {
						    $('.loading_modal').modal('toggle');
						    toastr.error(JSON.stringify(result.result),'Error',{timeOut: 1500});
						    console.log(JSON.stringify(result.result));
                        }
					}
				});

            });

        });
</script>
{% endblock %}

{% block panel-title_content %}主机列表{% endblock %}

{% block panel_body_content %}

<div class="row-fluid ">
    <div class="col-xs-12 overflow_set"  >
        <div style="margin-bottom: 5px;">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button type="button" class="btn btn-success add_server_list_btn" data-toggle="modal" data-target="#add_server_list_modal">添加主机</button>
                </div>


                  <div class="form-group pull-right">
                        <label for="search_field">查询字段</label>
                        <select class="form-control" id="search_field">
                            <option value="search_server_name">服务器名称</option>
                            {% if search_field == "search_ip" %}
                            <option value="search_ip" selected>IP</option>
                            {% else %}
                            <option value="search_ip">IP</option>
                            {% endif %}
                        </select>
                        <div class="input-group">
                            <input type="text" class="form-control" id="search_content" placeholder="请输入查询条件" value="{{ search_content }}">
                              <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary search_btn"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                              </span>
                        </div>
                  </div>

                </div>

        </div>

        <table class="table table-hover  table-bordered table-striped table-responsive table-condensed" >
            <!--<caption>主机列表</caption>-->
            <thead>
            <!--给下面tr加个success是bootstrap的一个类颜色会改变下呵呵-->
              <tr class="success">
                  <th width="4%"><input type="checkbox" id="checkAll" name="checkAll" /></th>
                <th width="11%">服务器名称</th>
                  <th width="8%">服务器类型</th>
                  <th width="11%">IP地址</th>
                <th width="11%">主机名</th>
                <th width="8%">系统类型</th>
                  <th width="10%">Minion_ID</th>
                  <th width="10%">机房</th>
                  <th width="10%">机柜号</th>
                  <th width="16%">最近一次更新</th>
                  <!--<th width="6%">Minion</th>-->
                  <th width="10%">描述备注</th>
                  <th width="28%">操作</th>
              </tr>
            </thead>
            <tbody>
                {% for server_data in data_list%}
                <tr>
                    <td><input type="checkbox" name="checkItem" /></td>
                    <td class="data_server_name">{{ server_data.server_name }}</td>
                    <td class="data_server_type">{{ server_data.get_server_type_display }}</td>
                    <td class="data_ip">{{ server_data.ip }}</td>
                    <td class="data_localhost">{{ server_data.localhost }}</td>
                    <td class="data_sys_type">{{ server_data.sys_type }}</td>
                    <td class="data_minion_id">{{ server_data.minion_id }}</td>
                    <td class="data_idc_name">{{ server_data.idc_name }}</td>
                    <td class="data_idc_num">{{ server_data.idc_num }}</td>
                    <td class="data_updatetime">{{ server_data.update_time }}</td>
                    {% if  server_data.description  %}
                    <td class="description">{{ server_data.description }}</td>
                    {% else %}
                    <td class="description"></td>
                    {% endif %}

                    <!--隐藏内容-->
                    <td class="data_sn hidden">{{ server_data.sn }}</td>
                    <td class="data_cpu_num hidden">{% if server_data.cpu_num %}{{ server_data.cpu_num }}{% endif %}</td>
                    <td class="data_cpu_model hidden">{{ server_data.cpu_model }}</td>
                    <td class="data_kernel hidden">{{ server_data.kernel }}</td>
                    <td class="data_product_name hidden">{{ server_data.product_name }}</td>
                    <td class="data_ipv4_address hidden">{{ server_data.ipv4_address }}</td>
                    <td class="data_mac_address hidden">{{ server_data.mac_address }}</td>
                    <td class="data_mem_total hidden">{% if server_data.mem_total %}{{ server_data.mem_total }}{% endif %}</td>
                    <td class="data_mem_explain hidden">{{ server_data.mem_explain }}</td>
                    <td class="data_disk_total hidden">{% if server_data.disk_total %}{{ server_data.disk_total }}{% endif %}</td>
                    <td class="data_disk_explain hidden">{{ server_data.disk_explain }}</td>
                    <td class="data_login_ip hidden">{{ server_data.login_ip }}</td>
                    <td class="data_login_port hidden">{% if server_data.login_port %}{{ server_data.login_port }}{% endif %}</td>
                    <td class="data_login_user hidden">{{ server_data.login_user }}</td>
                    <td class="data_create_date hidden">{{ server_data.create_date | date:"Y-m-d H:i:s"}}</td>

                    <td>
                        <button type="button" class="btn btn-info btn-sm view_detail" data-toggle="modal" data-target="#add_server_list_modal">查看</button>
                        <button type="button" class="btn btn-info btn-sm edit_detail " data-toggle="modal" data-target="#add_server_list_modal">编辑</button>
                        <button type="button" class="btn btn-danger btn-sm delete_server" data-toggle="modal" data-target="#delete_server_modal">删除</button>

                    </td>
                </tr>
                {% endfor%}

            </tbody>
          </table>
        <div>
            <ul class="pager">
                {% if data_list.has_previous %}
                <!--注意如果url中已经有参数了比如http://192.168.68.50:8000/saltkey_manage/?status=denied那么需要把这个status加上，不然跳转错了哈哈-->
                    <li><a href="?search_field={{ search_field }}&search_content={{ search_content }}&page={{ data_list.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><a href="">上一页</a></li>
                {% endif %}

                <li class="current">
                    页数 {{ data_list.number }} / {{ data_list.paginator.num_pages }}
                </li>

                {% if data_list.has_next %}
                    <li><a href="?search_field={{ search_field }}&search_content={{ search_content }}&page={{ data_list.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><a href="">下一页</a></li>
                {% endif %}
                <li>
                    &nbsp;&nbsp;<input type="text"  style="width: 30px;border-radius: 30%;" id="page_index">/{{ data_list.paginator.num_pages }}页
                    <button type="button" class="btn btn-sm btn-success page_go" >跳转</button>
                </li>
            </ul>
        </div>

        <div >
            <div class="form-inline" role="form">
                <div class="form-group">
                    <button type="button" class="btn btn-primary import_server_list_btn" data-toggle="modal" data-target="#import_server_list_modal">批量导入</button>
                    <a href="{% url 'server_list_template_down'%}" class="btn btn-primary download_template_file_btn" >模板下载</a>
                    <a href="{% url 'server_list_down'%}" class="btn btn-primary download_template_file_btn" >导出列表</a>
                </div>


                </div>

        </div>

    </div>
</div>


{% endblock %}

{% block another_content %}

<!-- 添加主机模态框 -->
<div class="modal fade juzhong" id="add_server_list_modal" tabindex="-1" role="dialog" aria-labelledby="server_list_add_lable" aria-hidden="true" data-backdrop="static" >
	<div class="modal-dialog" style="width: 900px;">
		<div class="modal-content">
			<div class="modal-header" style="padding: 5px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="server_list_add_lable">
					新增主机
				</h4>
                <!--<span id="xxxxxx" style="color: #FF0000;">　</span>-->

			</div>
			<div class="modal-body" style="padding-bottom: 0;">

                <div class="row" >
                    <div class="col-sm-6">
                        <form class="form-horizontal " role="form"  >
                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_server_name">服务器名称:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_server_name"
									    style="font-size: 14px;"  >
									    <span id="add_server_name_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" >*</label>
							</div>

                            <div class="form-group">
                                    <label class="control-label col-sm-4 " >服务器类型:</label>
                                <div class="col-sm-7">
                                <label class="radio-inline">
                                <input type="radio" class="add_server_type" name="add_server_type"  value="0" checked> 物理机
                                 </label>
                                <label class="radio-inline">
                                <input type="radio" class="add_server_type" name="add_server_type"   value="1"> 虚拟机
                                </label>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_localhost">主机名:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_localhost"
									    style="font-size: 14px;"  >
									    <span id="add_localhost_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_ip">IP:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_ip"
									    style="font-size: 14px;"  >
									    <span id="add_ip_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" >
                                    <label class="control-label col-sm-4 " >系统类型:</label>
                                <div class="col-sm-7">
                                <label class="radio-inline">
                                <input type="radio" class="add_sys_type" name="add_sys_type"  value="linux" checked> Linux
                                 </label>
                                <label class="radio-inline">
                                <input type="radio" class="add_sys_type" name="add_sys_type"   value="windows"> Windows
                                </label>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_system_issue">系统版本:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_system_issue"
									    style="font-size: 14px;"  >
									    <span id="add_system_issue_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

							<div class="form-group " style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " >Minion_ID:</label>
                                <div class="panel panel-default col-sm-7" style="padding: 0;margin-left: 15px;margin-bottom: 0;">
                                    <div class="panel-heading " style="padding: 0px 0px 0px 0px;border: 0;">
                                        <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="add_search_minion_id" placeholder="查询Minion_ID">
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary add_search_minion_id_btn btn-sm"><span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>查询</button>
                                          </span>

                                        </div>
                                    </div>
                                    <!--<select size=5  multiple class="form-control panel-body" id="add_radio_minion_id" style="overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">-->
                                    <!--</select>-->

                                    <div id="add_radio_minion_id" class="radio panel-body" style="height:90px;overflow-x: scroll;padding: 0  0 0 15px;border-top-right-radius: 0;border-top-left-radius: 0;">

                                    </div>

                                </div>
                                <label class="control-label  " style="color: #FF0000;" ></label>

                                <div class="col-sm-6 col-sm-offset-4">
									    <span id="add_minion_id_help" style="color: #FF0000;">　</span>
								</div>
							</div>

							<div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_sn">SN:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_sn"
									    style="font-size: 14px;"  required="required" >
                                        <span class="" id="add_sn_help" style="color: #FF0000;">　</span>
                                </div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_cpu_num">CPU核数(个):</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_cpu_num"
									     style="font-size: 14px;"  required="required" >
                                        <span class="" id="add_cpu_num_help" style="color: #FF0000;">　</span>
                                </div>
                                <label class="control-label  "  ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_cpu_model">CPU型号:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_cpu_model"
									    style="font-size: 14px;"  required="required" >
									    <span class="" id="add_cpu_model_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_kernel">内核:</label>
                                <div class="col-sm-7">
										<input type="text"  class="form-control" id="add_kernel"
									   style="font-size: 14px;"  required="required" >
									    <span class="" id="add_kernel_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_product_name">品牌名称:</label>
                                <div class="col-sm-7">
										<input type="text"   class="form-control" id="add_product_name"
									   style="font-size: 14px;"    required="required" >
									    <span class="" id="add_product_name_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                    </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-horizontal " role="form"  >


                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_ipv4_address">IPV4列表:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_ipv4_address"
									   style="font-size: 14px;"  required="required" >
									    <span class="" id="add_ipv4_address_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_mac_address">MAC地址列表:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_mac_address"
									   style="font-size: 14px;"  required="required" >
									    <span class="" id="add_mac_address_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>



                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_mem_total">内存大小(M):</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_mem_total"
									   style="font-size: 14px;" >
                                        <span  id="add_mem_total_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_mem_explain">内存说明:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_mem_explain"
									   style="font-size: 14px;" >
                                        <span  id="add_mem_explain_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>


                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_disk_total">磁盘大小(G):</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_disk_total"
									   style="font-size: 14px;" >
                                        <span  id="add_disk_total_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_disk_explain">磁盘说明:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_disk_explain"
									   style="font-size: 14px;" >
                                        <span  id="add_disk_explain_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_idc_name">机房名称:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_idc_name"
									   style="font-size: 14px;" >
                                        <span  id="add_idc_name_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_idc_num">机柜号:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_idc_num"
									   style="font-size: 14px;" >
                                        <span  id="add_idc_num_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_login_ip">远程访问IP:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_login_ip"
									   style="font-size: 14px;" >
                                        <span  id="add_login_ip_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_login_port">远程访问端口:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_login_port"
									   style="font-size: 14px;" >
                                        <span  id="add_login_port_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_login_user">远程访问用户:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_login_user"
									   style="font-size: 14px;" >
                                        <span  id="add_login_user_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_login_password">远程访问密码:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_login_password"
									   style="font-size: 14px;" >
                                        <span  id="add_login_password_help" style="color: #FF0000;">　</span>
								</div>
                                <label class="control-label  " style="color: #FF0000;" ></label>
							</div>

                            <div class="form-group" style="margin-bottom: 0;">
										<label class="control-label col-sm-4 " for="add_description">备注:</label>
                                <div class="col-sm-7">
										<input type="text" class="form-control" id="add_description"
									   style="font-size: 14px;" >
                                        <span  id="add_description_help" style="color: #FF0000;">　</span>
								</div>
							</div>

                        </form>
				    </div>
                </div>

			</div>
			<div class="modal-footer" style="padding: 5px;">
                <button type="button" class="btn btn-sm btn-primary pull-left" id="clone_server_list_submit">
					克隆主机
				</button>
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消
				</button>
                <button type="button" class="btn btn-sm btn-primary" id="add_server_list_submit">
					确认提交
				</button>
                <button type="button" class="btn btn-sm btn-primary" id="update_server_list_submit">
					提交更新
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


<!--删除提示框，也是用的模态框-->
<div class="modal fade juzhong " id="delete_server_modal" tabindex="-1" role="dialog" aria-labelledby="delete_server_lable" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog">
        <!--下面这个modal-content的div可以调整整个模态框的大小-->
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">操作提醒</h4>
            </div>
            <div class="modal-body">
                <!--隐藏属性，用来获取触发模态框的那条记录的相关数据-->
                <input type="hidden" class="hidden_server_name"/>
                <p style="color: red;">确认要删除？</p>
            </div>
            <!--下面这个modal-footer调整高度的话是调整最下面一行的高度-->
            <div class="modal-footer" style="height:100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="delete_server_button" data-dismiss="modal" data-toggle="modal" data-target=".loading_modal"> 确定</button>
            </div>
        </div>
    </div>
</div>

<!-- loading模态框 -->
<div class="modal fade juzhong loading_modal " data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"  aria-hidden="true" >
	<div class="modal-dialog" style="width:100px;">
		<div class="modal-content" style="background-color: rgba(255,255,255,0.5);">
				<img src="../static/images/loading.gif"  alt="未加载" >
		</div>
	</div>
</div>


<!--上传文件模态框-->
<div class="modal fade juzhong " id="import_server_list_modal" tabindex="-1" role="dialog" aria-labelledby="import_server_list_lable" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog">
        <!--下面这个modal-content的div可以调整整个模态框的大小-->
        <div class="modal-content" style="width:70%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">导入文件选择</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="file" id="server_list_file">
                    <span id="server_list_file_help" style="color: #FF0000;">　</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="server_list_cover_select" > 是否要覆盖已存在服务器名称
                    </label>
                </div>
            </div>
            <!--下面这个modal-footer调整高度的话是调整最下面一行的高度-->
            <div class="modal-footer" style="height:100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="import_server_list_submit" data-dismiss="modal" data-toggle="modal" data-target=".loading_modal"> 确定</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}